﻿<!DOCTYPE html>
<html ng-app="mrcsApp">
<head>
    <meta charset="utf-8" />
    <meta name="format-detection" content="telephone=no" />
	<meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1" />

    <title>MRC-Support</title>

    <!-- CSS
    ================================================== -->
    <link href="css/normalize.css" rel="stylesheet">
    <link href="css/cross-browser.css" rel="stylesheet">
    <link href="css/jquery.mobile-1.4.2.css" rel="stylesheet">
    <link href="css/helper.css" rel="stylesheet">
    <link href="css/common.css" rel="stylesheet">
    <link href="css/styles.css" rel="stylesheet">

</head>
<body>
    <div class="container" ng-controller="RootController">
        <!-- #login page -->
        <div data-role="page" id="login-page" data-display-i="true" ng-controller="LoginController">
            <div class="content-container clearfix">
                <div class="login-box ptop-18 box-shadow-01">
                    <div class="inner-container self-center push-bot-15">

                        <div class="row push-bot-30  ptop-33 text-center"> <img src="img/title-login.png" alt="" /> </div>
                        <div class="row push-bot-30">
                            <label> <img src="img/label-login-01.png" alt=""> </label>
                            <input type="text" class="login-page-txt" ng-model="loginUser.username" ng-init="CheckLastUser()" name="loginUser.username" />
                        </div>
                        <div class="row push-bot-30">
                            <label> <img src="img/label-login-02.png" alt=""> </label>
                            <input type="password" class="login-page-txt"  ng-model="loginUser.password" />
                        </div>
                        <div class="row w-160 push-bot-30 self-center push-right-160"> <span class="chk-remember-03 {{loginUser.remember?'checked-03':''}}" ng-model="loginUser.remember" ng-click="checkRemember()"> </span> <img src="img/label-login-03.png" alt="" /> </div>
                        <div class="row text-right push-right-40 " >
                            <a href="#changepass-page">
                                <img src="img/index_changepass.jpg">
                            </a>
                        </div>
						<div class="row ptop-33 pbot-40 text-center"> <img src="img/logo-login.png" alt="IDとパスワードを入力してください" /> </div>
                    </div>
                    <div class="row text-center">
                        <button class="btn self-center" ng-click="login('#index-page','loginPage')"> <img src="img/btn-login.png" alt="" /> </button>
                    </div>

                </div>

                <div id="login-alert-box" class="br-popup-03 alert-box">
                    <div class="inner-container">
                        入力したIDが見つからないか、<br>
                        パスワードが違います。<br><br>
                        もう一度入力してください。
                    </div>
                    <a class="b-close">
                        <img src="img/popup-yes.jpg" alt="" />
                    </a>
                </div>
            </div>
            <!-- /.content-container -->
        </div>
        <!-- /#login-page -->

        <!-- #change pass -->
        <div id="changepass-page" data-role="page" ng-controller="ChangepassController">
            <div class="content-container clearfix">
                <div class="changepass-box ptop-18 box-shadow-01">
                    <div class="inner-container self-center push-bot-15">
                        <div class="row text-center push-top-80 push-bot-60"><img src="img/changepass-title.jpg"></div>
						<div class="row push-bot-30">
							<label style="padding-right: 193px"> <img src="img/label-login-01.png" alt="" /> </label>
							<input type="text" class="login-page-txt" ng-model="change.username"/>
						</div>
                        <div class="row push-bot-30">
                            <label> <img src="img/changepass-title-01.jpg" alt="" /> </label>
                            <input type="password" class="login-page-txt" ng-model="change.password"/>
                        </div>
                        <div class="row push-bot-30">
                            <label> <img src="img/changepass-title-02.jpg" alt="" /> </label>
                            <input type="password" class="login-page-txt" ng-model="change.newpassword" />
                        </div>
                        <div class="row push-bot-30">
                            <label> <img src="img/changepass-title-03.jpg" alt="" /> </label>
                            <input type="password" class="login-page-txt" ng-model="change.repassword" />
                        </div>
                    </div>
                    <div class="row text-center">
                        <button class="btn self-center push-right-42" ng-click="updateUser('index.html')" >
							<img src="img/changepass-btn-left.jpg" alt="" />
						</button>
                        <a href="index.html"><img src="img/changepass-btn-right.jpg" alt="" /></a>
                    </div>
                </div>
            </div>
            <!-- /.content-container -->
            <!-- /.popup-container -->
            <div class="content-popup-16 br-popup-03" style="display:none">
                <div class="inner-container"> {{ message }} </div>
                <div class="row push-top-10 text-center c-close"><img src="img/changepass-btn-popup.jpg" alt="" /> </div>
            </div>

            <!-- end popup-container -->
        </div>
        <!-- /#change-pass -->
        <!-- #top page -->
        <div id="index-page" data-role="page" ng-controller="IndexController" >
            <div class="content-popup br-popup-03" style="display:none">
                <div class="inner-container">
                    同期してもよろしいですか
                </div>
                <div class="row push-top-10 w-350 push-left-74">
                    <a href="" class="left c-close" ng-click="doEnquete()">
                        <img src="img/popup-yes.jpg" alt="" />
                    </a>
                    <a href="" class="right c-close">
                        <img src="img/popup-no.jpg" alt="" />
                    </a>
                </div>
            </div>


            <div id="sync-alert-box" class="br-popup-03 alert-box">
                <div class="inner-container">
                    {{ statusMessage }}
                </div>
                <a class="b-close">
                    <img src="img/popup-yes.jpg" alt="" />
                </a>
            </div>


            <div class="content-container clearfix">
				<img src="img/bg_beta.jpg" id="beta">
                <div class="row push-top-70">
                    <img src="img/title-index.png" alt="" />
                </div>
                <div class="row push-top-20 h-250 relative">
                    <a id="entry-btn" ng-click="gotoEntry('#entry-page');">
                        <img src="img/img-index-01.png" alt="" class="absolute index-entry" />
                    </a>
                </div>
                <div class="row w-530 self-center">
                    <a href="#data-page">
                        <img src="img/img-index-02.png">
                    </a>
                    <a href="#kanren-page" class="push-right-0" ng-click="backPage()">
                        <img src="img/img-index-03.png">
                    </a>
                </div>

                <!-- SYNC-->
                <div class="row push-top-26 push-left-30 relative">
                    <span>{{countSyn}}</span>
                    <a href="#" class="popup">
                        <img src="img/img-index-05.png">
                    </a>
                </div>

                <!-- start popup -->
				<div ng-controller="LoginController"  id="move" class="content-popup-01 br-popup-03" style="display:none">
					<img class="pbot-10" src="img/img-popup-01.jpg" alt="" />
					<div class="h-215 inner-container">
						<div class="row push-bot-17">
							<label>
								<img src="img/label-login-01.png" alt="" />
							</label>
							<input type="text" onfocus="move()" class="login-page-txt push-top-2 push-right-30 left" ng-model="loginUser.username"/>
						</div>
						<div class="row push-bot-20">
							<label>
								<img src="img/label-login-02.png" alt="" />
							</label>
							<input type="password" onfocus="move()" class="login-page-txt push-top-3 push-right-30 left" ng-model="loginUser.password" />
						</div>
						<div class="row w-160 self-center line-height-20 push-right-150">
							<span class="chk-remember-03 {{loginUser.rememberInfo?'checked-03':''}}" ng-model="loginUser.rememberInfo" ng-click="checkRememberInfo()"> </span>
							<img src="img/label-login-03.png" alt="" />
						</div>
					</div>
					<div class="row push-top-10 w-350 push-left-74 center">
						<a href="" class="left c-close" ng-click="login('#list-page','infoPage')">
							<img src="img/img-popup-04.jpg" alt="" />
						</a>
						<a href="" class="right c-close">
							<img src="img/img-popup-05.jpg" alt="" />
						</a>
					</div>
				</div>
                <!-- end popup -->
            </div><!-- /.content-container -->
        </div>
        <!-- /#top-page -->
        <!-- #entry page -->
        <div id="entry-page" data-role="page" ng-controller="EntryController">
            <div class="content-container clearfix">
                <div class="entry-box push-bot-20 box-shadow-01">
                    <div class="row ptop-15 push-left-20 pbot-12"> <img src="img/img-entry-01.jpg" alt="" /> </div>
                    <div class="inner-container self-center push-bot-7">
                        <div class="row ptop-37 pbot-38 text-center"> <img src="img/img-entry-02.jpg" alt="" /> </div>
                        <div class="row push-bot-10">
                            <label> <img src="img/img-entry-03.jpg" alt="" /> </label>
                            <!--Hopital drop down list-->
                            <select class="dropdownlist" ng-model="selectedHosptial" ng-change="onSelectedHospitalChange()" data-icon="none" id="ddlhospital">
                                <option value="">-自担当施設から選択-</option>
                                <option ng-repeat="h in hospitalList" value="{{h.id}}">{{h.name}}</option>
                            </select>
                            <p class="push-left-254 clearfix"><input id="addHospital" type="text" ng-model="freeHospital.name" placeholder="フリー入力" ng-focus="freeHospitalCall()"/></p>
                        </div>
                        <div class="row push-bot-30">
                            <label> <img src="img/img-entry-04.jpg" alt="" /> </label>
                            <!--doctor drop down list-->
                            <select class="dropdownlist " data-icon="none" ng-model="selectedDoctor" id="ddldoctor">
                                <option value="" ng-selected="{{ selectedDoctor == '' }}">-選択施設の所属医師から選択-</option>
                                <option ng-repeat="d in doctorList" value="{{d.id}}">{{d.name}}</option>
                            </select>
                            <p class="push-left-254 "><input type="text" id="addDoctor" value="" ng-model="freeDoctor.name" placeholder="フリー入力" ng-focus="freeDoctorCall()"/></p>
                        </div>
                    </div>
                    <div class="row right pright-18">
                        <button class="btn pull-right-24" ng-click="onClickNext()"> <img src="img/img-entry-05.jpg" alt="" /> </button>
                    </div>
                </div>
                <div class="row left pleft-62"> <a href="#index-page"> <img src="img/btn-top.png" alt="" /> </a> </div>
            </div>
            <!-- /.content-container -->
        </div>
        <!-- /#entry-page -->
        <!-- #case page -->
        <div id="case-page" data-role="page" ng-controller="CaseController">
            <div class="content-container clearfix">
                <div class="case-box push-bot-20 box-shadow-01">
                    <div class="row ptop-15 push-left-20 pbot-12">
                        <img src="img/img-case-01.jpg" alt="" />
                    </div>
                    <div class="inner-container self-center push-bot-7">
                        <div class="row case ptop-60">
                            <a class="push-left-38" ng-click="chooseCase('#casestudy1-page','1')">
                                <img src="img/case-1-name.png" alt="" />
                            </a>
                            <a class="" ng-click="chooseCase('#casestudy2-page','2')">
                                <img src="img/case-2-name.png" alt="" />
                            </a>
                            <a class="push-right-0" ng-click="chooseCase('#casestudy3-page','3')">
                                <img src="img/case-3-name.png" alt="" />
                            </a>
                        </div>
                    </div>
                </div>
                <div class="row left pleft-62" ng-if="!isEdity">
                    <a href="#index-page">
                        <img src="img/btn-top.png" alt="" />
                    </a>
                </div>
            </div><!-- /.content-container -->
        </div><!-- /#case-page -->

        <!-- #casestudy1 page -->
        <div id="casestudy1-page" data-role="page" ng-controller="CaseStudyController" ng-init="showCaseDetail('1')">
            <div class="content-container clearfix">
                <div class="casestudy1-box push-bot-20 box-shadow-01">
                    <div class="row ptop-15 push-left-20 pbot-12">
                        <img src="img/casestudy-1-name.png" alt="" />
                    </div>
                    <div class="inner-container self-center push-bot-15">
                        <div class="row push-top-12 push-left-20">
                            <div class="left">
                                <table class="casestudy-tbl-01">
                                    <tr class="fixHeightTr">
                                        <th class="cacestudy-font" rowspan="2">診<br />断</th>
                                        <td><span class="txt-01"><img src="img/casestudy-1-title.jpg"></span></td>
                                    </tr>
                                    <tr class="fixHeightTr1">
                                        <td class="pleft-15" ng-bind-html="diagnosis2"></td>
                                    </tr>
                                </table>
                            </div>
                            <div class="right push-right-15">
                                <div class="top">
                                    <table class="casestudy-tbl-02 push-right-5">
                                        <tr>
                                            <th> 年 齢</th>
                                        </tr>
                                        <tr>
                                            <td ng-bind-html="age"></td>
                                        </tr>
                                    </table>
                                    <table class="casestudy-tbl-02">
                                        <tr>
                                            <th>性 別</th>
                                        </tr>
                                        <tr>
                                            <td ng-bind-html="gender"></td>
                                        </tr>
                                    </table>
                                </div>
                                <table class="casestudy-tbl-03 push-top-5">
                                    <tr>
                                        <th>合併症</th>
                                    </tr>
                                    <tr>
                                        <td ng-bind-html="complication"></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div class="row push-top-12 push-left-20">
                            <table class="casestudy-tbl-04" border="1">
                                <tr>
                                    <th class="cacestudy-font" rowspan="4">所  見</th>
                                    <td>視  力</td>
                                    <td ng-bind-html="eyesight"></td>
                                </tr>
                                <tr>
                                    <td>中心角膜厚</td>
                                    <td ng-bind-html="centralCornealThickness"></td>
                                </tr>
                                <tr>
                                    <td>眼  圧</td>
                                    <td ng-bind-html="intraocularPressure"></td>
                                </tr>
                                <tr>
                                    <td>治 療 薬</td>
                                    <td>
                                        <p class="br-combobox">
                                            <select id="pgList-1" class="dropdownlist" ng-model="pg1" data-icon="none">
                                                <option ng-repeat="pg1 in pglist" value="{{pg1.id}}">{{pg1.name}}</option>
                                            </select>
                                        </p>
                                    </td>
                                </tr>
                            </table>
                        </div>

                        <div class="row push-top-12 push-left-20">
                            <table class="casestudy-tbl-05 popup-03">
                                <tr>
                                    <th colspan="2">眼 底</th>
                                </tr>
                                <tr>
                                    <td class="pright-10 w-100 pleft-10 boder-right"><img src="img/casestudy-1-II-thumb-1.jpg"></td>
                                    <td class="pleft-10 pright-10">耳側の幅の広いNFLDが明瞭に確認できる。PPAも強く、耳側のリムはほとんど確認できず強い視野障害が推測される。</td>
                                </tr>
                            </table>
                            <table class="casestudy-tbl-05 popup-04">
                                <tr>
                                    <th colspan="2">OCT</th>
                                </tr>
                                <tr>
                                    <td class="pright-10 pleft-10 w-130 boder-right text-center">
                                        <img src="img/casestudy-1-II-thumb-2.jpg">
                                    </td>
                                    <td class="text-center">正常眼データーベース
                                        <img src="img/casestudy-1-II-thumb-2-1.jpg">
                                    </td>
                                </tr>
                            </table>
                            <table class="casestudy-tbl-05 push-right-0 popup-03-01">
                                <tr>
                                    <th colspan="2">視 野(HFA30-2)</th>
                                </tr>
                                <tr>
                                    <td class="pright-10 pleft-10 w-130 boder-right text-center">
                                        <img src="img/casestudy-1-III-thumb-1.jpg">
                                    </td>
                                    <td class="text-center">
                                        <dl class="push-right-10 push-left-10">
                                            <dt>MD値</dt>
                                            <dd>-9.66dB</dd>
                                        </dl>
                                        <dl class="push-right-10 push-left-10">
                                            <dt>MD slope</dt>
                                            <dd>-0.8dB/年</dd>
                                        </dl>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <!--popup-->
                        <div class="content-popup-03" style="display:none">
                            <div class="br-popup">
                                <p class="close"><a href="#"><img src="img/popup-close.png"></a></p>
                                <table class="br-popup-01 self-center">
                                    <tr>
                                        <th colspan="2"><img src="img/casestudy-1-popup-1-title.jpg"></th>
                                    </tr>
                                    <tr>
                                        <td class="w-510 text-center"><img src="img/casestudy-1-II-detail-1.jpg"></td>
                                        <td class="txt-popup txt-popup-20">耳側の幅の広いNFLDが明瞭に確認できる。PPAも強く、耳側のリムはほとんど確認できず強い視野障害が推測される。
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div class="content-popup-04" style="display:none">
                            <div class="br-popup">
                                <p class="close"><a href="#"><img src="img/popup-close.png"></a></p>
                                <table class="br-popup-02 self-center">
                                    <tr>
                                        <th colspan="2"><img src="img/casestudy-1-popup-2-title.jpg"></th>
                                    </tr>
                                    <tr>
                                        <td class="w-440 text-center"><img src="img/casestudy-1-II-detail-2-1.jpg"></td>
                                        <!--TODO: It is description image-->
                                        <td class="text-center"><img src="img/casestudy-1-II-detail-2-2.jpg"></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div class="content-popup-03-01" style="display:none">
                            <div class="br-popup">
                                <p class="close"><a href="#"><img src="img/popup-close.png"></a></p>
                                <table class="br-popup-02 self-center">
                                    <tr>
                                        <th colspan="2"><img src="img/casestudy-1-popup-3-title.jpg"></th>
                                    </tr>
                                    <tr>
                                        <td class="w-440 text-center"><img src="img/casestudy-1-III-detail-1.jpg"></td>
                                        <td class="text-center"><img src="img/casestudy-1-III-detail-2.jpg"></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <!--End popup-->
                    </div>
                    <div class="row">
                        <a class="btn pull-left-5 left w-200" href="#case-page">
                            <img src="img/btn-back.jpg">
                        </a>
                        <a class="btn pull-right-5 right w-200" ng-click="gotoquest('#question01-page', 1)">
                            <img src="img/btn-next.jpg">
                        </a>
                    </div>
                </div>
                <div class="row w-950 push-left-37 pright-36">
                    <a class="btn" href="#index-page" id="div-casestudy1-top">
                        <img src="img/btn-top.png" alt="" />
                    </a>
                    <a class="btn right w-200 popup-13">
                        <img src="img/btn-casestudy1-03.png">
                    </a>
                </div>
            </div><!-- /.content-container -->
        </div><!-- /#casestudy1-page -->
        <!-- #casestudy2 page -->
        <div id="casestudy2-page" data-role="page" ng-controller="CaseStudyController" ng-init="showCaseDetail('2')">
            <div class="content-container clearfix">
                <div class="casestudy1-box push-bot-20 box-shadow-01">
                    <div class="row ptop-15 push-left-20 pbot-12">
                        <img src="img/casestudy-2-name.png" alt="" />
                    </div>
                    <div class="inner-container self-center push-bot-15">
                        <div class="row push-top-12 push-left-20">
                            <div class="left">
                                <table class="casestudy-tbl-01">
                                    <tr class="fixHeightTr">
                                        <th class="cacestudy-font" rowspan="2">診<br />断</th>
                                        <td><span class="txt-01"><img src="img/casestudy-2-title.jpg"></span></td>
                                    </tr>
                                    <tr class="fixHeightTr1">
                                        <td class="pleft-15" ng-bind-html="diagnosis2"></td>
                                    </tr>
                                </table>
                            </div>
                            <div class="right push-right-15">
                                <div class="top">
                                    <table class="casestudy-tbl-02 push-right-5">
                                        <tr>
                                            <th>年 齢</th>
                                        </tr>
                                        <tr>
                                            <td ng-bind-html="age"></td>
                                        </tr>
                                    </table>
                                    <table class="casestudy-tbl-02">
                                        <tr>
                                            <th>性 別</th>
                                        </tr>
                                        <tr>
                                            <td ng-bind-html="gender"></td>
                                        </tr>
                                    </table>
                                </div>
                                <table class="casestudy-tbl-03 push-top-5">
                                    <tr>
                                        <th>合併症</th>
                                    </tr>
                                    <tr>
                                        <td ng-bind-html="complication"></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div class="row push-top-12 push-left-20">
                            <table class="casestudy-tbl-04" border="1">
                                <tr>
                                    <th rowspan="4">所  見</th>
                                    <td>視  力</td>
                                    <td ng-bind-html="eyesight"></td>
                                </tr>
                                <tr>
                                    <td>中心角膜厚</td>
                                    <td ng-bind-html="centralCornealThickness"></td>
                                </tr>
                                <tr>
                                    <td>眼  圧</td>
                                    <td ng-bind-html="intraocularPressure"></td>
                                </tr>
                                <tr>
                                    <td>治 療 薬</td>
                                    <td>
                                        <p class="br-combobox">
                                            <select id="pgList-2" class="dropdownlist" ng-model="pg2" data-icon="none">
                                                <option ng-repeat="pg2 in pglist" value="{{pg2.id}}">{{pg2.name}}</option>
                                            </select>
                                        </p>
                                    </td>
                                </tr>
                            </table>
                        </div>

                        <div class="row push-top-12 push-left-20">
                            <table class="casestudy-tbl-05 popup-05">
                                <tr>
                                    <th class="cacestudy-font" colspan="2">眼 底</th>
                                </tr>
                                <tr>
                                    <td class="pright-10 pleft-10 boder-right w-100 text-center"><img src="img/img-casestudy2-02.jpg"></td>
                                    <td class="pleft-10 pright-10">緑内障視神経陥凹拡大に加え、右乳頭11時方向にNFLDの拡大を認めた。
                                        乳頭内血管の鼻側偏位、ラミナドットサインが観察される。</td>
                                </tr>
                            </table>
                            <table class="casestudy-tbl-05 popup-06">
                                <tr>
                                    <th colspan="2">OCT</th>
                                </tr>
                                <tr>
                                    <td class="pright-10 pleft-10 w-130 boder-right text-center">
                                        <img src="img/img-casestudy2-03.jpg">
                                    </td>
                                    <td class="pull-top-45 text-center">
                                        <img src="img/img-casestudy2-05.jpg">
                                    </td>
                                </tr>
                            </table>
                            <table class="casestudy-tbl-05 push-right-0 popup-07">
                                <tr>
                                    <th colspan="2">視 野(HFA30-2)</th>
                                </tr>
                                <tr>
                                    <td class="pright-10 pleft-10 w-130 boder-right text-center">
                                        <img src="img/img-casestudy2-04.jpg">
                                    </td>
                                    <td class="pull-top-45">
                                        <dl class="push-right-10 push-left-10">
                                            <dt>MD slope</dt>
                                            <dd>R : -0.32dB/年</dd>
                                            <dd>L : -0.38dB/年</dd>
                                        </dl>
                                    </td>
                                </tr>
                            </table>
                        </div>

                        <!--popup-->
                        <div class="content-popup-05" style="display:none">
                            <div class="br-popup">
                                <p class="close"><a href="#"><img src="img/popup-close.png"></a></p>
                                <table class="br-popup-05 self-center">
                                    <tr>
                                        <th colspan="2"><img src="img/casestudy-2-popup-1-title.jpg"></th>
                                    </tr>
                                    <tr>
                                        <td class="w-440 h-350 text-center"><img src="img/casestudy-2-II-detail-1-1.jpg"></td>
                                        <td class="text-center"><img src="img/casestudy-2-II-detail-1-2.jpg"></td>
                                    </tr>
                                    <tr>
                                        <td class="cst-3-txt-01" colspan="2">緑内障視神経陥凹拡大に加え、右乳頭11時方向にNFLDの拡大を認めた。<br>
                                            乳頭内血管の鼻側偏位、ラミナドットサインが観察される。</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div class="content-popup-06" style="display:none">
                            <div class="br-popup">
                                <p class="close"><a href="#"><img src="img/popup-close.png"></a></p>
                                <table class="br-popup-02 self-center">
                                    <tr>
                                        <th class="ptop-4" colspan="2"><img src="img/casestudy-2-popup-2-title.jpg"></th>
                                    </tr>
                                    <tr>
                                        <td class="w-440 text-center"><img src="img/casestudy-2-II-detail-2-1.jpg"></td>
                                        <td class="text-center"><img src="img/casestudy-2-II-detail-2-2.jpg"></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div class="content-popup-07" style="display:none">
                            <div class="br-popup">
                                <p class="close"><a href="#"><img src="img/popup-close.png"></a></p>
                                <table class="br-popup-02 self-center">
                                    <tr>
                                        <th class="ptop-4" colspan="2"><img src="img/casestudy-2-popup-3-title.jpg"></th>
                                    </tr>
                                    <tr>
                                        <td class="w-440 text-center"><img src="img/casestudy-2-II-detail-3-1.jpg"></td>
                                        <td class="text-center"><img src="img/casestudy-2-II-detail-3-2.jpg"></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <!--End popup-->
                    </div>
                    <div class="row">
                        <a class="btn pull-left-5 left w-200" href="#case-page">
                            <img src="img/btn-back.jpg">
                        </a>
                        <a class="btn pull-right-5 right w-200" ng-click="gotoquest('#question01-page', 2)">
                            <img src="img/btn-next.jpg">
                        </a>
                    </div>
                </div>
                <div class="row w-950 push-left-37 pright-36">
                    <a class="btn" href="#index-page" id="div-casestudy2-top">
                        <img src="img/btn-top.png" alt="" />
                    </a>
                    <a class="btn right w-200 popup-13">
                        <img src="img/btn-casestudy1-03.png">
                    </a>
                </div>
            </div><!-- /.content-container -->
        </div><!-- /#casestudy2-page -->
        <!-- #casestudy3 page -->
        <div id="casestudy3-page" data-role="page" ng-controller="CaseStudyController" ng-init="showCaseDetail('3')">
            <div class="content-container clearfix">
                <div class="casestudy1-box push-bot-20 box-shadow-01">
                    <div class="row ptop-15 push-left-20 pbot-12">
                        <img src="img/casestudy-3-name.png" alt="" />
                    </div>
                    <div class="inner-container self-center push-bot-15">

                        <div class="row push-top-12 push-left-20">
                            <div class="left">
                                <table class="casestudy-tbl-01">
                                    <tr class="fixHeightTr">
                                        <th class="cacestudy-font" rowspan="2">診<br />断</th>
                                        <td><span class="txt-01"><img src="img/casestudy-3-title.jpg"></span></td>
                                    </tr>
                                    <tr class="fixHeightTr1">
                                        <td class="pleft-15" ng-bind-html="diagnosis2"></td>
                                    </tr>
                                </table>
                            </div>
                            <div class="right">
                                <div class="top">
                                    <table class="casestudy-tbl-02 push-right-5">
                                        <tr>
                                            <th>年 齢</th>
                                        </tr>
                                        <tr>
                                            <td ng-bind-html="age"></td>
                                        </tr>
                                    </table>
                                    <table class="casestudy-tbl-02 push-right-18">
                                        <tr>
                                            <th>性 別</th>
                                        </tr>
                                        <tr>
                                            <td ng-bind-html="gender"></td>
                                        </tr>
                                    </table>
                                </div>
                                <table class="casestudy-tbl-03 push-right-18 push-top-5">
                                    <tr>
                                        <th>合併症</th>
                                    </tr>
                                    <tr>
                                        <td ng-bind-html="complication"></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div class="row push-top-12 push-left-20">
                            <table class="casestudy-tbl-04" border="1">
                                <tr>
                                    <th class="cacestudy-font" rowspan="4">所  見</th>
                                    <td>視  力</td>
                                    <td ng-bind-html="eyesight"></td>
                                </tr>
                                <tr>
                                    <td>中心角膜厚</td>
                                    <td ng-bind-html="centralCornealThickness"></td>
                                </tr>
                                <tr>
                                    <td>眼  圧</td>
                                    <td ng-bind-html="intraocularPressure"></td>
                                </tr>
                                <tr>
                                    <td>治 療 薬</td>
                                    <td>
                                        <p class="br-combobox">
                                            <select id="pgList-3" class="dropdownlist" ng-model="pg3" data-icon="none">
                                                <option ng-repeat="pg3 in pglist" value="{{pg3.id}}">{{pg3.name}}</option>
                                            </select>
                                        </p>
                                    </td>
                                </tr>
                            </table>
                        </div>

                        <div class="row push-top-12 push-left-20">
                            <table class="casestudy-tbl-05 popup-08">
                                <tr>
                                    <th colspan="2">眼 底</th>
                                </tr>
                                <tr>
                                    <td class="pright-10 pleft-10 w-100 boder-right"><img src="img/casestudy-3-II-thumb-1.jpg"></td>
                                    <td class="pleft-10 pright-10">近視乳頭で、特に下耳側のリムの狭小化と網膜神経線維層欠損がある。また、上耳側においても網膜神経線維層の菲薄化がある。</td>
                                </tr>
                            </table>
                            <table class="casestudy-tbl-05 popup-09">
                                <tr>
                                    <th colspan="2">視 野（HFA30-2）</th>
                                </tr>
                                <tr>
									<td class="pright-10 pleft-10 w-130 boder-right text-center">
										<img src="img/casestudy-3-II-thumb-2.jpg">
									</td>
									<td class="pull-top-45 text-center">
										<img src="img/casestudy-3-II-thumb-2.1.jpg">
									</td>
                                </tr>
                            </table>
                            <table class="casestudy-tbl-05 push-right-0 popup-10">
                                <tr>
                                    <th colspan="2">視 野（HFA10-2）</th>
                                </tr>
                                <tr>
									<td class="pright-10 pleft-10 w-130 boder-right text-center">
										<img src="img/casestudy-3-II-thumb-3.jpg">
									</td>
									<td class="pull-top-45 text-center">
										<img src="img/casestudy-3-II-thumb-3.1.jpg">
									</td>
                                </tr>
                            </table>
                        </div>


                        <!--popup-->
                        <div class="content-popup-08" style="display:none">
                            <div class="br-popup">
                                <p class="close"><a href="#"><img src="img/popup-close.png"></a></p>
                                <table class="br-popup-01 self-center">
                                    <tr>
                                        <th colspan="2"><img src="img/casestudy-3-popup-1-title.jpg"></th>
                                    </tr>
                                    <tr>
                                        <td class="w-510 text-center"><img src="img/casestudy-3-II-detail-1.jpg"></td>
                                        <td class="txt-popup txt-popup-20">近視乳頭で、特に下耳側のリムの狭小化と網膜神経線維層欠損がある。また、上耳側においても網膜神経線維層の菲薄化がある。</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div class="content-popup-09" style="display:none">
                            <div class="br-popup">
                                <p class="close"><a href="#"><img src="img/popup-close.png"></a></p>
                                <table class="br-popup-02 self-center">
                                    <tr>
                                        <th colspan="2"><img src="img/casestudy-3-popup-2-title.jpg"></th>
                                    </tr>
                                    <tr>
                                        <td class="w-440 text-center"><img src="img/casestudy-3-II-detail-2-1.jpg"></td>
                                        <td class="text-center"><img src="img/casestudy-3-II-detail-2-2.jpg"></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div class="content-popup-10" style="display:none">
                            <div class="br-popup">
                                <p class="close"><a href="#"><img src="img/popup-close.png"></a></p>
                                <table class="br-popup-02 self-center">
                                    <tr>
                                        <th colspan="2"><img src="img/casestudy-3-popup-3-title.jpg"></th>
                                    </tr>
                                    <tr>
                                        <td class="w-440 text-center"><img src="img/casestudy-3-II-detail-3-1.jpg"></td>
										<td class="text-center"><img src="img/casestudy-3-II-detail-3-2.jpg"></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <!--End popup-->
                    </div>
                    <div class="row">
                        <a class="btn pull-left-5 left w-200" href="#case-page">
                            <img src="img/btn-back.jpg">
                        </a>
                        <a class="btn pull-right-5 right w-200" ng-click="gotoquest('#question01-page', 3)">
                            <img src="img/btn-next.jpg">
                        </a>
                    </div>
                </div>
                <div class="row w-950 push-left-37 pright-36">
                    <a class="btn" href="#index-page" id="div-casestudy3-top">
                        <img src="img/btn-top.png" alt="" />
                    </a>
                    <a class="btn right w-200 popup-13">
                        <img src="img/btn-casestudy1-03.png">
                    </a>
                </div>
            </div><!-- /.content-container -->
        </div><!-- /#casestudy3-page -->


		<!-- kanren popup-->
		<div class="content-popup-13 popup-kanren-pdf-list" ng-controller="kanrenController">
			<p class="close">
				<a href="#"><img src="img/popup-kanren-close.png"></a>
			</p>

			<div class="inner-container">
				<div class="row title">
					<img src="img/kanren-title-popup.png" alt="" />
				</div>
				<div class="content">
					<div class="row">
						<a class="kanrenpdf" ng-repeat="pdfFile in pdfFilesList" ng-click="popupPdf(pdfFile.filename,1)">
							<span class="kanrenpdftitle">{{ pdfFile.title }}</span>
						</a>
					</div>
				</div>
			</div>
		</div>

        <!-- #question 1 page-->
        <div id="question01-page" data-role="page">
            <div class="content-container clearfix" data-role="content" ng-controller="QuestionController" ng-init="setQuestionGroup('1')">
                <div class="question01-box push-bot-20 box-shadow-01">
                    <div class="row ptop-15 push-left-20 pbot-12">
                        <img class="push-right-7" src="img/question-01-title.jpg" alt="" />
                        <img src="img/question-01-desc.jpg" alt="" />
                    </div>
                    <div class="inner-container self-center kanrengraybox">
                        <div class="row" ng-repeat="qm in questionGroup.children">
                            <span ng-click="checkedQuestionMain(qm.id)" class="chk-remember push-top-15 checked" ng-if="qm.isChecked"></span>
                            <span ng-click="checkedQuestionMain(qm.id)" class="chk-remember push-top-15" ng-if="!qm.isChecked"></span>
                            <div class="jqMobileCollapsibleSet">
                                <div ng-class="{'question-group div-qt-01': qm.isChecked, 'question-group': !qm.isChecked}" data-role="collapsible">
                                    <h3>{{qm.description}}</h3>
                                    <div ng-class="{'pbot-15': qs.isFreeText}" ng-repeat="qs in qm.children">
                                        <p ng-click="checkedQuestionSub(qm.id, qs.id)" ng-class="(qs.isChecked) ? 'qs_checked': 'qs_no_checked'">{{qs.description}}</p>
                                        <div ng-class="{'h-115': qs.isFreeText}" >
                                            <textarea class="textarea" ng-model="qs.freeText" ng-if="qs.isFreeText" ng-change="checkedQuestionSub(qm.id, qs.id)" ng-keyup="checkedQuestionSub(qm.id, qs.id)" placeholder="フリー入力"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <a class="btn left pull-left-9" ng-click="gotoCaseStudy();">
                            <img src="img/btn-back.jpg">
                        </a>
                        <a class="btn right pull-right-6" ng-click="validateAndSubmit('#question02-page');">
                            <img src="img/btn-next.jpg">
                        </a>
                    </div>
                </div>

				<div class="row  pleft-38 pright-36" ng-if="!isEdity">
					<a class="btn btn-gototop-confirm-q1">
						<img src="img/btn-top.png" alt="" />
					</a>
				</div>
				<div id="confirm-question-gototop-q1" class="br-popup-03 alert-box">
					<div class="inner-container">
						完了を押さないと保存されません。<br>リセットされますがよろしいですか？
					</div>
					<div class="row push-top-10 w-350 push-left-74 center">
						<a href="" class="left c-close" ng-click="agreeClear()">
							<img src="img/popup-yes.jpg" alt="" />
						</a>
						<a href="" class="right c-close">
							<img src="img/popup-no.jpg" alt="" />
						</a>
					</div>
				</div>
            </div><!-- /.content-container -->
        </div><!-- /#question01-page -->
        <!--Popup question error-->
        <!--check da chon du 3 cau tra loi trong question1 neu chua chon du 3 cau tra loi se show popup nay-->
        <div class="question-error content-popup-11 br-popup-03 close-01" style="display:none">
            <div class="inner-container">
                最も重要視する3つをご選択ください。
            </div>
            <div class="row push-top-10 text-center w-500">
                <a class="b-close">
                    <img src="img/question-error-close.jpg" alt="" />
                </a>
            </div>
        </div>
        <div class="question-error content-popup-14 br-popup-03 close-01" style="display:none">
            <div class="inner-container">
                選択されていません。
            </div>
            <div class="row push-top-10 text-center w-500">
                <a class="b-close">
                    <img src="img/question-error-close.jpg" alt="" />
                </a>
            </div>
        </div>
        <!--Popup question error-->
        <!-- #question02 page -->
        <div id="question02-page" data-role="page">
            <div class="content-container clearfix" ng-controller="QuestionController" ng-init="setQuestionGroup('2')">
                <div class="question02-box push-bot-20 box-shadow-01">
                    <div class="row ptop-15 push-left-20 pbot-12">
                        <img class="push-right-7" src="img/question-02-title.jpg" alt="" />
                        <img src="img/question-02-desc.jpg" alt="" />
                    </div>
                    <div class="inner-container self-center kanrengraybox">
                        <div class="row" ng-repeat="qm in questionGroup.children">
                            <span ng-click="checkedQuestionMain(qm.id)" ng-class="(qm.isChecked === true) ? 'chk-remember1 checked1' : 'chk-remember1'"> </span>
                            <p ng-if="qm.children.length == 0" ng-click="checkedQuestionMain(qm.id)" class="question02-title">{{qm.description}}</p>
                            <div ng-if="qm.children.length > 0" class="jqMobileCollapsibleSet">
                                <div  ng-class="{'question-group div-qt-01': qm.isChecked, 'question-group': !qm.isChecked}" data-role="collapsible">
                                    <h3>{{qm.description}}</h3>
                                    <div ng-repeat="qs in qm.children">
                                        <p ng-click="checkedQuestionSub(qm.id, qs.id)" ng-if="qs.description" ng-class="(qs.isChecked) ? 'qs_checked': 'qs_no_checked'">{{qs.description}}</p>
                                        <div ng-class="{'h-115': qs.isFreeText}" >
                                            <textarea ng-if="qs.isFreeText" ng-keydown="checkedQuestionSub(qm.id, qs.id)" ng-change="checkedQuestionSub(qm.id, qs.id)" ng-keyup="checkedQuestionSub(qm.id, qs.id)" ng-model="qs.freeText" class="textarea" placeholder="フリー入力"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row push-top-15">
                        <a class="btn left pull-left-9" ng-click="gotoPage('#question01-page')">
                            <img src="img/btn-back.jpg">
                        </a>
                        <a class="btn right pull-right-6" ng-click="validateAndSubmit('#confirm-page');">
                            <img src="img/btn-next.jpg">
                        </a>
                    </div>
                </div>

				<div class="row  pleft-38 pright-36" ng-if="!isEdity">
					<a class="btn btn-gototop-confirm-q2">
						<img src="img/btn-top.png" alt="" />
					</a>
				</div>
				<div id="confirm-question-gototop-q2" class="br-popup-03 alert-box">
					<div class="inner-container">
						完了を押さないと保存されません。<br>リセットされますがよろしいですか？
					</div>
					<div class="row push-top-10 w-350 push-left-74 center">
						<a href="" class="left c-close" ng-click="agreeClear()">
							<img src="img/popup-yes.jpg" alt="" />
						</a>
						<a href="" class="right c-close">
							<img src="img/popup-no.jpg" alt="" />
						</a>
					</div>
				</div>

            </div><!-- /.content-container -->
        </div><!-- /#question02-page -->
        <!-- #confirm page -->
        <div id="confirm-page" data-role="page">
            <div class="content-container clearfix" ng-controller="QuestionConfirmController">
                <div class="confirm-box push-bot-20 box-shadow-01">
                    <div class="row ptop-15 push-left-20 pbot-12">
                        <img src="img/confirm-page-title.jpg" alt="" />
                    </div>
                    <div class="inner-container self-center kanrengraybox">
                        <div class="row" ng-if="isEdity">
                            <dl class="push-top-20" >
                                <dt><span>◆ 施　　設：</span>{{hospitalName}}</dt>
                                <dt><span>◆ ドクター：</span>{{doctorName}}</dt>
                                <!--<dt><span>◆ 選択PG単剤：</span>{{pgName}}</dt>-->
                            </dl>
                        </div>
                        <div ng-repeat="caseStudyFlow in caseStudyFlows | orderBy:caseStudyFlow.csId">
                            <div ng-if="caseStudyFlow.isChecked" class="row border-01 push-bot-25 w-800 confirm-txt-05 confirm-title-20">
                                <img class="left confirm-txt-01 " ng-src="img/confirm-casestudy-{{caseStudyFlow.csId}}-name.jpg" />
                                <p class="right text-right push-0 ptop-10 push-bot-0 w-160" ng-if="isEdity">
									<span class="{{caseStudyFlow.isSynced?'confirm-txt-03':'confirm-txt-02'}}">{{caseStudyFlow.syncText}}</span><br>
                                    <span class="confirm-txt-03 ">{{caseStudyFlow.createdDate}}</span>
                                </p>
                                <span ng-if="isEdity" class="push-left-20" > 選択PG単剤：{{caseStudyFlow.pgName}}</span>
                            </div>
                            <div ng-if="caseStudyFlow.isChecked" class="row w-800 border-02 push-bot-25" ng-class="{'row w-800 border-01 pbot-20 push-bot-25': (answerGroup.groupId === '1'), 'row w-800 border-01 pbot-5': (answerGroup.groupId === '2')}"
                                 ng-repeat="answerGroup in caseStudyFlow.answers">
                                        <span class="push-right-15 left">
                                            <img ng-src="img/confirm-{{answerGroup.groupId}}-title.jpg" alt="" />
                                        </span>
                                <dl class="left push-0 confirm-txt-04">
                                    <dt ng-repeat="answer in answerGroup.answers">
                                        {{answer.mainDesc}}
                                        <span ng-if="(answer.freeText.length > 0) || (answer.subDesc.length > 0)">{{colon}}</span>
                                        {{answer.isFreeText ? answer.freeText : answer.subDesc}}
                                    </dt>
                                </dl>
                            </div>
                        </div>
                    </div>

                    <div class="row push-top-15 confirm-br">

						<!--buttons without edit-->
                        <a class="btn left pull-left-9 w-200" ng-if="!isEdity" ng-show="!isBackButton" ng-click="backQuestion('#question02-page')">
                            <img src="img/btn-back.jpg">
                        </a>
						<!--<a class="btn left pull-left-9 w-200" ng-if="!isEdity" ng-show="isBackButton" ng-click="gotoPage('#data01-page')">-->
							<!--<img src="img/btn-back.jpg">-->
						<!--</a>-->

						<!--edit buttons-->
						<a class="btn left pull-left-9 w-200" ng-if="isEdity" ng-click="confirmBackEdit('#list-page')">
							<img src="img/btn-back.jpg">
						</a>
                        <a class="btn left push-left-150 w-200" ng-if="isEdity" href="#case-page">
                            <img src="img/confirm-edit.jpg">
                        </a>
                        <a class="btn right w-200 pull-right-6" ng-click="saveAnswer()" ng-if="!isEdity">
                            <img src="img/confirm-finish.jpg">
                        </a>
                        <a class="btn right w-200 pull-right-6" ng-click="saveAnswer()" ng-if="isEdity">
                            <img src="img/confirm-save.jpg">
                        </a>
                    </div>
                </div>
                <div class="row pleft-38 pright-36" ng-if="!isEdity">
                    <a class="btn" ng-click="btnGotoTopConfirm()">
                        <img src="img/btn-top.png" alt="" />
                    </a>
                    <!--<a class="btn pull-left-40" ng-click="gotoCase('#case-page')">-->
                        <!--<img src="img/confirm_case.png" alt="" />-->
                    <!--</a>-->
                </div>
				<div id="confirm-back-edit" class="br-popup-03 alert-box">
					<div class="inner-container">
					編集した内容はまだ保存されていません。<br> 保存を押してください。
					</div>
					<a class="b-close">
						<img src="img/popup-yes.jpg" alt="" />
					</a>
				</div>

				<div id="confirm-question-gototop" class="br-popup-03 alert-box">
					<div class="inner-container">
						完了を押さないと保存されません。<br>リセットされますがよろしいですか？
					</div>
					<div class="row push-top-10 w-350 push-left-74 center">
						<a href="" class="left c-close" ng-click="agreeClear()">
							<img src="img/popup-yes.jpg" alt="" />
						</a>
						<a href="" class="right c-close">
							<img src="img/popup-no.jpg" alt="" />
						</a>
					</div>
				</div>
            </div><!-- /.content-container -->
        </div><!-- /#confirm-page -->


        <!-- #data-01 page -->

		<div id="data01-page" data-role="page" ng-controller="pdfController">
			<div class="content-container clearfix">
				<div class="case-box push-bot-20 box-shadow-01">
					<div class="row ptop-15 push-left-20 pbot-12">
						<img src="img/data01-title.png" alt="" />
					</div>
					<div class="inner-container self-center push-bot-7">
						<div class="row case ptop-60">
							<a class="push-left-38" ng-click="popupPdf(pdfFile.filename)">
								<img src="img/btn_popupPdf.png" alt="" />
							</a>
							<a class="" href="#kanren-page" ng-click="backPage()">
								<img src="img/btn_showKanren.png" alt="" />
							</a>
							<a class="push-right-0" href="#case-page">
								<img src="img/btn_backToSelectCase.png" alt="" />
							</a>
						</div>
					</div>
					<a class="btn left push-left-20 push-top-5" ng-click="gotoPage('#confirm-page')">
						<img src="img/btn-back.jpg">
					</a>
				</div>
				<div class="row left pleft-62">
					<a href="#index-page">
						<img src="img/btn-top.png" alt="" />
					</a>
				</div>
			</div><!-- /.content-container -->
		</div><!-- /#case-page -->

        <!-- #kanren page -->
        <div id="kanren-page" data-role="page" ng-controller="kanrenController">
            <div class="content-container clearfix">
                <div class="kanren-box push-bot-20 box-shadow-01">
                    <div class="row ptop-15 push-left-20 pbot-12">
                        <img class="left" src="img/kanren-title.png" alt="" />
                    </div>
                    <div class="inner-container self-center push-bot-15 kanrengraybox">
                        <div class="row karencontent">
                            <a class="kanrenpdf" ng-repeat="pdfFile in pdfFilesList" ng-click="popupPdf(pdfFile.filename ,1)">
                                <span class="kanrenpdftitle">{{pdfFile.title}}</span>
                            </a>
                        </div>
                    </div>
					<div class="row">
						<a class="btn pull-left-5 left w-200" href="{{backPage}}">
							<img src="img/btn-back.jpg">
						</a>
					</div>
                </div>
                <div class="row left pleft-62">
                    <a class="btn" href="#index-page">
                        <img src="img/btn-top.png" alt="" />
                    </a>
                </div>
            </div><!-- /.content-container -->
        </div><!-- /#kanren-page -->


        <!-- #data page -->
        <div id="data-page" data-role="page" ng-controller="dataPageController">
            <!--<div class="content-container clearfix">-->
                <!--<div class="data-box push-bot-20 box-shadow-01">-->
                    <!--<div class="row ptop-15 push-left-20 pbot-12">-->
                        <!--<img src="img/data-title.png" alt="" />-->
                    <!--</div>-->
                    <!--<div class="inner-container ptop-20 self-center push-bot-7 kanrengraybox">-->
                        <!--<div class="row ptop-20 pdfleft" ng-repeat="pdfFile in pdfFilesList">-->
                            <!--<a class="datapdfbtn" ng-click="popupPdf(pdfFile.filename,1)">-->
								<!--{{ pdfFile.title }}-->
                            <!--</a>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="row left pleft-62">-->
                    <!--<a class="btn" href="#index-page">-->
                        <!--<img src="img/btn-top.png" alt="" />-->
                    <!--</a>-->
                <!--</div>-->
            <!--</div>&lt;!&ndash; /.content-container &ndash;&gt;-->
			<div class="content-container clearfix">
				<div class="data-box push-bot-20 box-shadow-01">
					<div class="row ptop-15 push-left-20 pbot-12">
						<img class="left" src="img/data-title.png" alt="" />
					</div>
					<div class="inner-container ptop-20 self-center push-bot-7 kanrengraybox">
						<div class="row">
							<a class="kanrenpdf" ng-repeat="pdfFile in pdfFilesList" ng-click="popupPdf(pdfFile.filename ,1)">
								<span class="kanrenpdftitle">{{pdfFile.title}}</span>
							</a>
						</div>
					</div>
					<!--<div class="row">-->
						<!--<a class="btn pull-left-5 left w-200" href="#index-page">-->
							<!--<img src="img/btn-back.jpg">-->
						<!--</a>-->
					<!--</div>-->
				</div>
				<div class="row left pleft-62">
					<a class="btn" href="#index-page">
						<img src="img/btn-top.png" alt="" />
					</a>
				</div>
			</div><!-- /.content-container -->
        </div>

		<div id="list-page" data-role="page" ng-controller="ListController">
			<div class="content-container clearfix">
				<div class="list-box push-bot-20 box-shadow-01">
					<div class="row ptop-15 push-left-20 pbot-12">
						<img src="img/list-page-title.jpg" alt="" />
					</div>
					<div class="inner-container ptop-18 kanrengraybox">
						<div class="row background-03">
							<p class="left w-150 push-right-50"><img src="img/list-page-hopital.jpg" ></p>
							<p class="left w-145 push-right-50"><img src="img/list-page-doctor.jpg" ></p>
							<p class="left"><img src="img/list-page-result.jpg" ></p>
						</div>
						<div ng-class="{'row background-01': !($index%2), 'row background-02': ($index%2)}" ng-repeat="appInfo in appInfoList">
							<div class="hopital left w-150 push-right-50">
								<p>{{appInfo.hospitalName}}</p>
							</div>
							<div class="doctor left w-150 push-right-50">
								<p>{{appInfo.doctorName}}</p>
							</div>
							<div class="result left">
								<p class="left w-75 push-right-37">
									<img ng-src="{{appInfo.caseStudyFlows[0].isChecked?'img/list-page-01-on.png':'img/list-page-01-off.png'}}" >
									<img ng-src="{{appInfo.caseStudyFlows[1].isChecked?'img/list-page-02-on.png':'img/list-page-02-off.png'}}" >
									<img ng-src="{{appInfo.caseStudyFlows[2].isChecked?'img/list-page-03-on.png':'img/list-page-03-off.png'}}" >
								</p>
								<p class="left w-50 push-right-37 {{appInfo.isSynced?'txt-color-synced':'txt-color'}}">{{appInfo.syncText}}</p>
								<a class="left push-right-15" ng-click="editAppInfo(appInfo, '#confirm-page');"><img src="img/list-page-btn-edit.png" ></a>
								<a class="left" ng-click="showConfirmPopup(appInfo.id);"><img src="img/list-page-btn-delete.png" ></a>
							</div>
						</div>
					</div>
				</div>
				<div class="row left pleft-62">
					<a class="btn" href="#index-page">
						<img src="img/btn-top.png" alt="" />
					</a>
				</div>
			</div><!-- /.content-container -->


			<div class="content-popup-15 br-popup-03" style="display:none">
				<div class="inner-container">
					削除してもよろしいでしょうか
				</div>
				<div class="row push-top-10 w-350 push-left-74">
					<a ng-click="deleteAppInfo();" class="left b-close">
						<img src="img/popup-yes.jpg" alt="" />
					</a>
					<a class="right b-close">
						<img src="img/popup-no.jpg" alt="" />
					</a>
				</div>
			</div>
		</div><!-- /#list-page -->

        <!-- #summary page -->
        <div id="content-summary" data-role="page" ng-controller="SummaryController">
            <div class="content-container clearfix">
                <div class="summary-box push-bot-20 box-shadow-01">
                    <div class="row ptop-15 push-left-20 pbot-12">
                        <img class="left" src="img/summary-title.png" alt="" />
                    </div>
					<div class="inner-container self-center push-bot-7">
						<div class="row">
							<ul class="ul-summary clearfix" >
								<li><a href="#" ng-click="changedCase('1','1')"><img ng-src="img/summary_menu_01_q1_{{groupNumber.index==1?'on':'off'}}.png" alt="" /></a></li>
								<li><a href="#" ng-click="changedCase('1','2')"><img ng-src="img/summary_menu_01_q2_{{groupNumber.index==2?'on':'off'}}.png" alt="" /></a></li>
								<li><a href="#" ng-click="changedCase('2','3')"><img ng-src="img/summary_menu_02_q1_{{groupNumber.index==3?'on':'off'}}.png" alt="" /></a></li>
								<li><a href="#" ng-click="changedCase('2','4')"><img ng-src="img/summary_menu_02_q2_{{groupNumber.index==4?'on':'off'}}.png" alt="" /></a></li>
								<li><a href="#" ng-click="changedCase('3','5')"><img ng-src="img/summary_menu_03_q1_{{groupNumber.index==5?'on':'off'}}.png" alt="" /></a></li>
								<li><a href="#" ng-click="changedCase('3','6')"><img ng-src="img/summary_menu_03_q2_{{groupNumber.index==6?'on':'off'}}.png" alt="" /></a></li>
							</ul>
							<div class="sumary01" id="sumary">
								<div class="clearfix" ng-show="groupNumber.barChart">
									<p class="push-bot-5 clearfix"> <img  src="img/summary-title-01.jpg" alt="" /></p>
									<div class="sumary01-left left clearfix" >
										<div class="row" ng-repeat="main in GG.group[groupNumber.firstGroup].main">
											<div class="jqMobileCollapsibleSet {{main.class}}" >
												<div data-role="collapsible">
													<h3>{{main.description}}</h3>
													<div ng-repeat="sub in main.sub">
														{{sub.description}}
														<span class="question_number">
															{{(sub.percent).toFixed(0)}}%
														</span>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="sumary01-right right clearfix ">
										<img class="percen push-left-20" src="img/icon-per.jpg">
										<div class="demo-container">
											<div id="placeholder-c1-01" class="demo-placeholder"></div>
										</div>
                                        <p class="doctor-q1">回答ドクター数：<br>{{ GG.group[groupNumber.firstGroup].counter }}人</p>
									</div>
								</div>
								<div class="clearfix" ng-show="!groupNumber.barChart">
									<p class="push-bot-5 clearfix"> <img  src="img/summary-title-02.jpg" alt="" /></p>
									<div class="sumary01-left left clearfix" >
										<div class="row" ng-repeat="main in GG.group[groupNumber.secondGroup].main">
											<div class="jqMobileCollapsibleSet {{main.class}}" >
												<div data-role="collapsible">
													<h3>{{main.description}}</h3>
													<div ng-repeat="sub in main.sub">
														{{sub.description}}
														<span class="question_number">
															{{(sub.percent).toFixed(0)}}%
														</span>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="sumary01-right right clearfix ">
										<div class="demo-container">
											<div id="placeholder-c1-02" class="demo-placeholder"></div>
										</div>
										<ul class="list-color mt25">
											<li><span class="color1"><img src="img/list-color1.jpg" ></span>経過観察</li>
											<li><span class="color2"><img src="img/list-color2.jpg" ></span>他のPG単剤に切り替え</li>
											<li><span class="color3"><img src="img/list-color3.jpg" ></span>PG/β配合剤に切り替え</li>
											<li><span class="color4"><img src="img/list-color4.jpg" ></span>β遮断薬単剤追加</li>
											<li><span class="color5"><img src="img/list-color5.jpg" ></span>CAI単剤・α関連薬追加</li>
											<li><span class="color6"><img src="img/list-color6.jpg" ></span>β/CAI配合剤追加</li>
											<li><span class="color6"><img src="img/list-color1.jpg" ></span>その他</li>
                                            <li>回答ドクター数：<br>{{ GG.group[groupNumber.secondGroup].counter }}人</li>
										</ul>
									</div>
								</div>
							</div><!-----end sumary 01----->
						</div>
					</div>
				</div>
				<div class="row left pleft-62">
					<a href="#index-page" ng-if="!showBackChart">
						<img src="img/btn-top.png" alt="" />
					</a>
					<a ng-if="showBackChart" ng-click="resetBackChart('#data01-page')">
						<img src="img/btn-back-chart.png" alt="" />
					</a>
				</div>
			</div><!-- /.content-container -->
        </div><!-- /#summary-page -->


        <!-- footer -->
        <footer id="footer" data-role="footer" data-position="fixed" ng-controller="FooterController" class="clearfix">
			<p class="footer-left">
				<img src="img/footer.png" alt=""/>
			</p>
			<p class="footer-right">
				<a id="show-summary" href="#content-summary" class="popup-15" ng-show="isShowSyncSummary">
					<img src="img/btn-summary.png" alt=""/>
				</a>
				<a id="show-sync-info" href="" class="popup-01" ng-show="isShowSyncInfo" >
					<img src="img/btn-info.png" alt=""/>
				</a>
			</p>
        </footer>

		<div id="network" class="br-popup-03 alert-box">
			<div class="inner-container">
				ネットワークに接続してください
			</div>
			<a class="b-close">
				<img src="img/popup-yes.jpg" alt="" />
			</a>
		</div>
		<div id="confirm-doctor" class="br-popup-03 alert-box">
			<div class="inner-container">
				選択してください
			</div>
			<a class="b-close">
				<img src="img/popup-yes.jpg" alt="" />
			</a>
		</div>
    </div><!--/# Root Controller  -->

    <!-- Javascript
    ================================================== -->
    <script src="js/lib/jquery.1.11.js"></script>
    <script src="js/lib/jquery.mobile-1.4.2.js"></script>

	<script src="js/lib/angular.js"></script>
	<script src="js/lib/underscore-1.6.js"></script>
	<script src="js/lib/moment.js"></script>
    <script src="js/lib/xml2json.min.js"></script>
    <script src="js/lib/bpopup.js"></script>
    <script src="js/lib/jquery.flot.js"></script>
    <script src="js/lib/jquery.flot.categories.js"></script>
    <script src="js/lib/jquery.flot.pie.js"></script>
    <script src="js/lib/jquery.flot.barnumbers.js"></script>
	<!--Angular and library-->
	<script type="text/javascript" src="js/lib/ng-cordova.min.js"></script>
	<script type="text/javascript" src="cordova.js"></script>
	<script type="text/javascript" src="js/index.js"></script>
	<script src="js/main.js"></script>


    <!--App data-->
    <script src="js/common/pdfData.js"></script>
    <script src="js/common/consts.js"></script>
    <script src="js/common/seedData.js"></script>
    <script src="js/common/dataStore.js"></script>
    <script src="js/common/dataModel.js"></script>
    <script src="js/common/application.js"></script>

    <!--Controller-->
    <script src="js/controller/controllers.js"></script>
    <script src="js/controller/login-controller.js"></script>
    <script src="js/controller/entry-controller.js"></script>
    <script src="js/controller/case-controller.js"></script>
    <script src="js/controller/case-study-controller.js"></script>
    <script src="js/controller/change-pass-controller.js"></script>
    <script src="js/controller/question-controller.js"></script>
    <script src="js/controller/question-confirm-controller.js"></script>
    <script src="js/controller/pdf-controller.js"></script>
    <script src="js/controller/kanren-controller.js"></script>
    <script src="js/controller/data-page-controller.js"></script>
    <script src="js/controller/list-controller.js"></script>
    <script src="js/controller/summary-controller.js"></script>
    <script src="js/controller/index-controller.js"></script>
</body>
</html>