/* ==========================================================================
   Common styles
   ========================================================================== */

body{
	font-size: 14px;
	color: #181818;
	background: url('../img/bg.png') no-repeat scroll center center transparent;
	background-size: cover;
}
*{
	font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro",Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif !important;
}
#btn-close-app{
	background: url('../img/btn-close-app.png') no-repeat scroll center center transparent;
	width:37px;
	height: 37px;
	position: fixed;
	top: 10px;
	right: 10px;
}
.active #title-index{
	display: block;
}
#title-index{
	background: url('../img/bg-title-index-visible.png') no-repeat scroll left top transparent;
	background-size: cover;
	width: 100%;
	height: 180px;
	position: fixed;
	top:50%;
	margin: -314px auto 0;
	left: 0;
	-webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
	-ms-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
	display: none;
}
.line{
	position: absolute;
	left: 0;
	width: 100%;
	display: block;
	height: 1px;
	background: url("../img/bg-line.png") repeat-x 0 0 transparent;
}
.line-1{
	top: 15px;
}
.line-2{
	top: 21px;
}

.line-3{
	bottom: 21px;
}
.line-4{
	bottom: 15px;
}
#title-index *{
	margin: 0 auto;
	text-align: center;
	display: block;
}

p{
	font-size: 14px;
	line-height: 24px;
	color: #181818;
	margin-bottom: 24px;
}
a{
	cursor:pointer;
}
img{
	vertical-align: middle;
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	/*max-width: 100%;
    height: auto;*/
}
strong{
	font-weight: bold;
}
textarea{
	white-space: pre;
}
h1{
	margin: 0;
}

.container{
	position: absolute;
	width: 1024px;
	height: 768px;
	overflow: hidden;
	top: 50%;
	left:50%;
	margin: -384px auto 0 -512px;
}

/* Self floating clearing for rows */
.row:before,
.row:after {
	content: " ";
	display: table;
}
.row:after { clear: both; }
.row { *zoom: 1; }

/* Customize jQuery Mobile CSS */
.ui-content,
.ui-header,
.ui-footer,
.ui-page,
.ui-mobile-viewport{
	padding: 0;
	border: none;
	background-color: transparent !important;
}
/*.ui-page{*/
	/*min-height: 100px !important;*/
/*}*/
.ui-loader{
	display: none;
}
.ui-input-text,
.ui-input-search{
	border: none;
	margin: 0;
}
.ui-select .ui-btn,
.ui-focus{
	border-radius: 0px !important;
	border:none !important;
	height: auto;
	padding: 0;
}
.ui-icon-plus:after{
	background: url(../img/img-icon-plus.jpg) 5px center no-repeat rgb(255, 255, 255)!important;
}
.ui-icon-minus:after{
	background: url(../img/img-icon-minus.jpg) 5px center no-repeat rgb(255, 255, 255)!important;
}

/* ==========================================================================
   Header
   ========================================================================== */



/* ==========================================================================
   Sidebar menu
   ========================================================================== */



/* ==========================================================================
   Content
   ========================================================================== */

#footer{
	overflow: hidden;
	border: 0;
	bottom: 0;
	height: 40px;
	line-height: 1;
	position: fixed;
	width: 100%;
	left: 0;
	background-color: #FFFFFF;
}
.footer-container{
	width: 1024px;
	margin: 0 auto;
}

.footer-left{
	text-align: left;
	float: left;
	margin: 0;
	padding: 3px 0 0 10px;
}
.footer-right{
	text-align: right;
	float: right;
}
.footer-right>a{
	width: 28px;
	height: 30px;
	overflow: hidden;
	display: inline-block;
	margin: 6px 30px 0 0;
}


/* ==========================================================================
   Content
   ========================================================================== */

.content-container{
	height: 728px;
}