.apply-scale{
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}
/*.ui-mobile .ui-page{*/
    /*height: 1080px !important;*/
/*}*/
.container{
    width:1136px;
    height: 770px;
    margin: -385px auto 0 -568px;
}

/*.pdf-popup{*/
    /*width:1080px;*/
    /*height: 800px;*/
/*}*/
.class-01{
    margin: 32px 0 0 100px;
}

.class-02{
    margin-left: 55px;
}
.class-03{
    margin-right: -55px;
}

#title-index{
    margin: -355px auto 0;
}

#entry-page select.dropdownlist option {
    width: 485px !important;
}