/* ==========================================================================
  login
   ========================================================================== */
#beta{
    position: absolute;
    top: 5px;
    left: 10px;
    display: none !important;
}

.doctor-q1{
    text-align: right;
    width: 100%;
    line-height: 15px;
    font-size: 10px;
    position: absolute;
    bottom: 0;
    right: 0;
}

/*.b-modal{*/
    /*width:1024px !important;*/
    /*height: 768px !important;*/
    /*position: absolute!important;*/
    /*bottom: auto!important;*/
    /*right: auto!important;*/
/*}*/
.single a.ui-icon-plus:after,
.single a.ui-icon-minus:after{
    background: none !important;
}
.ui-page{
	 -webkit-backface-visibility: hidden;
}

img{
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
}
.btn-login{
	width: 150px !important;
}

.login-box{
	width: 540px;
	height: 565px;
	display: block;
	margin: 70px auto 0;
	background: #fff;
	border-radius: 15px;
	border: solid 2px #435a52;
}
.login-box .inner-container{
	background: #f2f2f2;
	border-radius: 15px;
	border: solid 2px #8e8e8e;
	width: 500px;
	height: 460px;
	/*margin: 20px 0 auto;*/
}
.login-page-txt{
	width:280px;
	height:30px;
	border: 1px solid #999999;
	box-shadow: 1px 1px 2px 1px #CCCCCC inset;
}
.chk-remember,
.chk-remember-03{
	width:25px;
	height:21px;
	display:block;
	float:left;
	margin-right:5px;
	background: url('../img/btn-remmber-login.png') no-repeat scroll 0 0 transparent;
	
}
.chk-remember.checked,
.chk-remember-03.checked-03{
	background: url('../img/btn-checked-login.png') no-repeat scroll 0 0 transparent;
	border:0;
	background-size: 100% 100%;
}

/*.div-qt-01.ui-collapsible-collapsed h3{*/
	/*background: linear-gradient(to bottom, #01A456 11%, #67C89A 100%) repeat scroll 0 0 rgba(0, 0, 0, 0) !important;*/

	    /*border-radius:15px !important;*/
/*}*/
span.chk-remember1.checked1 + .question02-title,
.div-qt-01.ui-collapsible-collapsed h3.ui-collapsible-heading{
    background: -moz-linear-gradient(top,  rgba(1,164,86,1) 11%, rgba(103,200,154,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(11%,rgba(1,164,86,1)), color-stop(100%,rgba(103,200,154,1)));
    background: -webkit-linear-gradient(top,  rgba(1,164,86,1) 11%,rgba(103,200,154,1) 100%);
    background: -o-linear-gradient(top,  rgba(1,164,86,1) 11%,rgba(103,200,154,1) 100%);
    border-radius: 15px;
}
span.chk-remember1.checked1 + .question02-title {
    width: 730px;
}
.fixHeightTr{
    height: 48px !important;
}
.fixHeightTr1{
    height: 61px !important;
}
.chk-remember-04{
	width:25px;
	height:21px;
	display:block;
	float:left;
	position:absolute;
	z-index:999;
	 left: -43px;
	top:0;
	margin-right:5px;
	background: url('../img/btn-remmber-login.png') no-repeat scroll 0 0 transparent;
	
}
.chk-remember-04.checked{
	background: url('../img/btn-checked-login.png') no-repeat scroll 0 0 transparent;
	border:0;
	position:absolute;
	z-index:999;
	top:0;
	 left: -43px;
	background-size: 100% 100%;
}
.login-box label{
	width: 175px;
	float:left;
	text-align: right;
	margin: 0;
	height: 30px;
	line-height: 30px;
	padding-right:15px;
}
.ui-input-text{
	width: 280px;
	float: left;
	box-shadow: none;
}
.ui-input-text input{
	padding: 0;
	border-radius: 0;
	min-height: 0;
	height: 30px;
	line-height: 30px;
	border: 1px solid #999999;
	box-shadow: 1px 1px 2px 1px #CCCCCC inset;
	font-size: 16px;
	overflow: hidden;
}
.ui-shadow{
	box-shadow:none
} 
.ui-btn{
	background:none;
}
.ui-btn:hover{
	background:none;
}



/* ==========================================================================
  #index-page
   ========================================================================== */
	
#index-page .row a{
	float:left;
	margin-right:50px
}

#index-page .btn-sync{
	background: url("../img/img-index-05.png") scroll 0 0 transparent no-repeat;
	width: 222px;
	height: 51px;
	display: block;
	overflow: hidden;
}
#index-page #badge {
	background: url("../img/badge.png") scroll 0 0 transparent no-repeat;
	background-size:100% auto;
	border-radius: 50%;
	color: #ffffff;
	font-size: 14px;
	height: 30px;
	left: 116px;
	line-height: 30px;
	position: absolute;
	text-align: center;
	top: -11px;
	width: 30px;
	z-index: 9999;
	display: block;
}
#index-page #badge.big{
	line-height:40px;
	width: 40px;
	height: 40px;
	top:-18px;
	left: 110px;
}
.content-popup-01 label {
    float: left;
    line-height: 35px;
    text-align: right;
    width: 160px;
	margin-right:15px;
}
.content-popup-01 .push-top-3{
	margin-top: 3px !important;
}
.content-popup-01 .push-top-2{
	margin-top: 2px !important;
}
.line-height-20 {
    line-height: 20px;
    margin-left: 175px;
}
.index-entry{
	top:0;
	left:50%;
	margin-left:-111px;
}



/* ==========================================================================
  #entry-box
   ========================================================================== */

#entry-page .ui-select {
	margin-top: 0;
	margin-bottom: 20px;
	width: 460px;
	overflow: hidden;
	float: left;
}
#entry-page .dropdownlist {
	border: 1px solid #999999;
	box-shadow: 1px 1px 2px 1px #CCCCCC inset;
	color: #a3b4aa;
	font-weight: normal;
	padding-left: 40px;
	text-align: left;
	text-shadow: none;
	width: 460px;
	height: 40px;
	line-height: 40px;
	background: #ffffff url(../img/img-icon-01.png) no-repeat 12px center;
}
.entry-box {
	width: 900px;
	height: 522px;
	display: block;
	margin: 70px auto 71px;
	background: #fff;
	border-radius: 15px;
	border: solid 2px #435a52;
}
.entry-box .inner-container {
	background: none repeat scroll 0 0 #F2F2F2;
	border: 2px solid #8E8E8E;
	border-radius: 15px;
	height: 380px;
	width: 860px;
}
.entry-box label {
	float: left;
	height: 40px;
	line-height: 40px;
	margin: 0;
	padding-right: 15px;
	text-align: right;
	width: 254px;
}
.entry-box .ui-input-text {
	width: 280px;
	float: left;
	box-shadow: none;
}
.entry-box .ui-input-text input {
	padding: 10px 0;
	border-radius: 0;
	height: 40px;
	line-height: 1;
	border: 1px solid #999999;
	box-shadow: 1px 1px 2px 1px #CCCCCC inset;
	font-size: 16px;
	overflow: hidden;
	width: 460px;
	background: #ffffff
}
.dropdownlist:active {
	border-radius: 0;
}
#entry-page select.dropdownlist option {
	border-bottom: 1px dotted;
	height: 50px;
    margin: 0;
    padding: 0;
	margin-left: 30px;
	padding-top: 17px;
	width: 427px;
}
#entry-page select.dropdownlist option:last-child {
	border-bottom: 0;
}
/* ==========================================================================
  #case-box
   ========================================================================== */

#case-page .ui-btn{
	background:none;
}
#case-page  .ui-btn:hover{
	background:none;
}
#case-page  .ui-shadow{
	box-shadow:none
}
#login-page	     .ui-btn,
#entry-page	     .ui-btn,
#confirm-page    .ui-btn,
#casestudy1-page .ui-btn,
#casestudy2-page .ui-btn,
#casestudy3-page .ui-btn,
#question01-page .ui-btn,
#question02-page .ui-btn,
.case-study-page .ui-btn{
	background:none;
}
#confirm-page     .ui-btn:hover,
#question01-page  .ui-btn:hover,
#question02-page  .ui-btn:hover,
#casestudy1-page  .ui-btn:hover,
#casestudy2-page  .ui-btn:hover,
#casestudy3-page  .ui-btn:hover,
.case-study-page  .ui-btn:hover{
	background:none;
}
#confirm-page     .ui-shadow,
#question01-page  .ui-shadow,
#question02-page  .ui-shadow,
#casestudy1-page  .ui-shadow,
#casestudy2-page  .ui-shadow,
#casestudy3-page  .ui-shadow,
.case-study-page  .ui-shadow{
	box-shadow:none
} 
#data01-page	 .row .btn,
#entry-page		 .row .btn,
#confirm-page    .row .btn,
#question01-page .row .btn,
#question02-page .row .btn,
#casestudy1-page .row .btn,
#casestudy2-page .row .btn,
#casestudy3-page .row .btn,
.case-study-page .row .btn{
	width:200px;
}
#casestudy3-page .dropdownlist,
#casestudy2-page .dropdownlist,
#casestudy1-page .dropdownlist,
.case-study-page .dropdownlist{
	border: 0 solid #999999;
	box-shadow: none;
    color: #004f29;
	font-weight: normal;
    text-align: left;
	text-shadow: none;
	width: 180px !important;
	height: 24px;
	line-height: 24px;	
} 
.case-box{
	width: 900px;
	height: 320px;
	display: block;
	margin: 208px auto 127px;
	background: #fff;
	border-radius: 15px;
	border: solid 2px #435a52;
}
.case-box .inner-container {
    background: none repeat scroll 0 0 #F2F2F2;
    border: 2px solid #8E8E8E;
    border-radius: 15px;
    height: 240px;
    width: 860px;
}
.case a{
	width:230px;
	height:121px;
	display:block;
	float:left;
	margin-right:41px;
    position: relative;
}

.case a .case-select{
    position: absolute;
    bottom: -30px;
    left: 50%;
    height: 22px;
    width: 70px;
    margin-left: -35px;
}



#data01-page .case-box{
    height: 380px;
    margin: 208px auto 81px;
}


/* ==========================================================================
  #casestudy1-box
   ========================================================================== */

#casestudy1 .ui-btn-icon-right:after{
	display:none !important;
}

.casestudy1-box{
	width: 900px;
	height: 600px;
	display: block;
	margin: 48px auto 15px;
	background: #fff;
	border-radius: 15px;
	border: solid 2px #435a52;
}
.casestudy1-box .inner-container {
    background: none repeat scroll 0 0 #F2F2F2;
    border: 2px solid #8E8E8E;
    border-radius: 15px;
    height: 460px;
    width: 860px;
}
.casestudy-tbl-01{
	width:595px;
	height:115px;
	font-size:20px;
	border:1px solid #004f29;
    background: #ffffff;
}
/*.txt-01 {
    border-bottom: 1px dashed;
    display: block;
    font-size: 32px;
    font-weight: bold;
    margin-bottom: -15px;
    margin-top: -14px;
    width: 520px;
    text-align: center;
}*/
.txt-01{
    border-bottom: 1px dashed;
    display: block;
    font-size: 1px;
    font-weight: bold;
    line-height: 1;
    margin: 0 12px;
    padding: 7px 0;
}

.cacestudy-font{
	font-size: 18px;
}
.casestudy-tbl-01 th,
.casestudy-tbl-04 th{
	width:35px;
	text-align:center;
}
th{
	color:#FFFFFF;
	background:#004f29;
	font-weight:normal;
	 text-shadow: none;
}
.casestudy-tbl-02{
	width:100px;
	height:55px;
	float:left;
	font-size:17px;
	border:1px solid #004f29;
	text-align:center;
    background: #ffffff;
}
.casestudy-tbl-03{
	clear:both;
	width:205px;
	height:55px;
	float:left;
	font-size:17px;
	border:1px solid #004f29;
	text-align:center;
    background: #ffffff;
}
.casestudy-tbl-04{
	clear:both;
	width:820px;
	height:150px;
	float:left;
	font-size:17px;
	border:1px solid #004f29;
	text-align:left;
    background: #ffffff;
}
.casestudy-tbl-04 td{
	padding-left:15px;
}
td{
	color:#004f29;
}
.casestudy-tbl-05{
	font-size:12px;
	border:1px solid #004f29;
	width:260px;
	height:141px;
	float:left;
	margin-right:20px;
	line-height:17px;
    background: #ffffff;
}
.casestudy-tbl-05 th{
	font-size:16px;
    height: 29px;
}
.casestudy-tbl-05 td{
	border-right:1px solid;
	text-align:justify;
    color:#333333;
}
.casestudy-tbl-05 dl{
	text-align:center;
	border: 1px solid #7fa794;
  }
.casestudy-tbl-05 dt{
	background:#4c8369;
	color:#ffffff;
    text-shadow: none !important;
}
.casestudy-tbl-05 dd{
	background:#e1eb96;
	text-align:center;
	margin:0;
    border-top: 1px solid #7fa794;
}
.case-dl-01{
	margin-bottom:5px !important;
}
.case-dl-02{
	margin-top:0 !important;
}
.boder-right{
	border-right:1px dashed !important;
}

p.br-combobox{
/*	background: linear-gradient(to top, #eaeaea 50%, #FCFCFC 0%);
	background: -moz-linear-gradient(to top, #eaeaea 50%, #FCFCFC 0%);
	background: -o-linear-gradient(to top, #eaeaea 50%, #FCFCFC 0%);
	background: -ms-linear-gradient(to top, #eaeaea 50%, #FCFCFC 0%);
	background: -webkit-linear-gradient(bottom, #eaeaea 50%, #FCFCFC 0%);
    border-radius: 5px;
    width: 130px;*/
	margin-bottom:0;
}
.casestudy-tbl-05 .text-center{
	text-align:center !important;
}

.cst-3-txt-01 {
    font-size: 20px;
    height: 65px;
    padding-left: 45px;
    vertical-align: top;
    color: #333333;
}

/* ==========================================================================
  #data-box
   ========================================================================== */

#data-page .ui-btn{
	background:none;
}
#data-page  .ui-btn:hover{
	background:none;
}
#data-page  .ui-shadow{
	box-shadow:none
}
.data-box{
	width: 900px;
	height: 600px;
	display: block;
	margin: 48px auto 8px;
	background: #fff;
	border-radius: 15px;
	border: solid 2px #435a52;
}
.data-box .inner-container {
    background: none repeat scroll 0 0 #F2F2F2;
    border: 2px solid #8E8E8E;
    border-radius: 15px;
    height: 520px;
    width: 860px;
    overflow: hidden;

}

.datapdfbtn{
    display: block;
    overflow: hidden;
    text-decoration: none;
    line-height: 108px;
    height: 108px;
    color: #004f29 !important;
}
.pdfright, .pdfleft {
    background: url(../img/bg-data-01.png) no-repeat;
    float: left;
    margin: 0 20px 0 0;
    overflow: hidden;
	width:361px;
	height:136px;
    padding: 14px 0 14px 14px;
}
.kanrengraybox {
    border: 1px solid #585858 !important;
    height: 516px;
}

/* ==========================================================================
  #kanren-box
   ========================================================================== */

#kanren-page .ui-btn{
	background:none;
}
#kanren-page  .ui-btn:hover{
	background:none;
}
#kanren-page  .ui-shadow{
	box-shadow:none
}
.kanren-box{
	width: 900px;
	height: 600px;
	display: block;
	margin: 48px auto 15px;
	background: #fff;
	border-radius: 15px;
	border: solid 2px #435a52;
}
.kanren-box .inner-container {
    background: none repeat scroll 0 0 #F2F2F2;
    border: 2px solid #8E8E8E;
    border-radius: 10px;
    height: 460px;
    width: 860px;
	padding-top:20px;
    overflow: hidden;
}
.kanrenpdf {
    background: url(../img/kanren-pdf-title.png) no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    color: #FFFFFF;
    display: block;
    height: 50px;
    margin: 0 auto 20px;
    overflow: hidden;
    width: 730px;
}
.kanrenpdftitle {
    display: block;
    font-size: 24px;
    line-height: 50px;
    padding-left: 35px;
	text-shadow:none;
	color:#ffffff;
	font-weight: normal;
}

/* ==========================================================================
  #question01-box
   ========================================================================== */

#question01-page .ui-btn,
#question02-page .ui-btn{
	background:none;
	border:0;
	height:50px;
	line-height:53px;
	padding-top:0;
	color:#ffffff;
	font-size:25px;
	font-weight: normal !important;
}
#question01-page  .ui-btn:hover{
	background:none;
}
#question01-page  .ui-shadow{
	box-shadow:none
}
#question01-page .ui-collapsible-content p{
	background:url(../img/btn-question01-01.png) no-repeat;
    height: 50px;
    line-height: 50px;
    padding-left: 30px;
}
#question01-page .chk-remember{
	margin-top:15px;
}
#question01-page .inner-container .row{
	margin-bottom:20px;
}
#question01-page p,
#question02-page p{
	font-size: 24px;
	margin-bottom: 20px;
}
.textarea {
    border: 1px solid #CCCCCC;
    border-radius: 15px !important;
    height: 100px !important;
    padding: 10px;
    width: 690px !important;
}
.question01-box{
	width: 900px;
	height: 600px;
	display: block;
	margin: 48px auto 15px;
	background: #fff;
	border-radius: 15px;
	border: solid 2px #435a52;
}
.question01-box .inner-container {
    background: none repeat scroll 0 0 #F2F2F2;
    border: 2px solid #8E8E8E;
    border-radius: 15px;
    height: 460px;
    width: 860px;
	padding-left: 33px;
	padding-top: 20px;
	margin-bottom:13px;
    overflow: hidden;
}
.ui-collapsible-set{
	width:730px;
	margin-left:40px;
	text-shadow:none;
    min-height: 50px;
}
.ui-collapsible-inset, .ui-collapsible-set{
	margin-top:0;
	margin-bottom:0;
}
.ui-collapsible-heading-collapsed {
    background: url(../img/question01-main-desc.png) no-repeat;
	height:50px;
}
.ui-collapsible-themed-content:not(.ui-collapsible-collapsed) .ui-collapsible-heading{
	background: -moz-linear-gradient(top,  rgba(1,164,86,1) 11%, rgba(103,200,154,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(11%,rgba(1,164,86,1)), color-stop(100%,rgba(103,200,154,1)));
	background: -webkit-linear-gradient(top,  rgba(1,164,86,1) 11%,rgba(103,200,154,1) 100%);
	background: -o-linear-gradient(top,  rgba(1,164,86,1) 11%,rgba(103,200,154,1) 100%);
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}
h3.ui-collapsible-heading a{
	text-shadow:none !important;
	color:#ffffff;
}
.ui-collapsible-content{
	background:#67c89a;
	border-right:1px solid #01a456 !important;
	border-bottom:1px solid #01a456 !important;
	border-left:1px solid #01a456 !important;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
}
.txt-02{
	color:#004f29;
	font-size:17px;
	padding-left:17px
}
.close-01 {
    bottom: 13px;
    left: 200px;
    position: absolute;
}
.qs_checked {
    color:red;
}
.qs_no_checked {
    color:#004f29;
}

.text-pg{
    color: #004f29;
    font-size: 18px;
    line-height: 1;
}



/* ==========================================================================
  #question02-box
   ========================================================================== */

#question02-page  .ui-btn:hover{
	background:none;
}
#question02-page  .ui-shadow{
	box-shadow:none
}
#question02-page .ui-collapsible-content p{
	background:url(../img/btn-question01-01.png) no-repeat;
    height: 50px;
    line-height: 50px;
    padding-left: 30px;
}
/*#question02-page .ui-icon-plus:after{*/
	/*background:url(../img/img-icon-plus.jpg) no-repeat !important;*/
/*}*/
#question02-page .inner-container .row{
	margin-top:20px;
}
.question02-title {
    background: url(../img/question02-main-desc.png) no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    color: #FFFFFF !important;
    font-size: 25px !important;
    height: 50px;
    line-height: 50px;
    margin-bottom: 0 !important;;
    margin-left: 39px;
    padding-left: 27px;
    text-shadow: none;
}
.question02-box{
	width: 900px;
	height: 600px;
	display: block;
	margin: 48px auto 15px;
	background: #fff;
	border-radius: 15px;
	border: solid 2px #435a52;
}
.question02-box .inner-container {
    background: none repeat scroll 0 0 #F2F2F2;
    border: 2px solid #8E8E8E;
    border-radius: 15px;
    height: 460px;
    width: 860px;
	padding-left: 33px;
    overflow: hidden;
}
.chk-remember1{
	width:20px;
	height:20px;
	display:block;
	float:left;
	margin-top:15px;
	margin-right:5px;
	background: url('../img/img-radio-off.jpg') no-repeat scroll 0 0 transparent;
}
.chk-remember1.checked1{
	background: url('../img/img-radio-on.jpg') no-repeat scroll 0 0 transparent;
	width:20px;
	height:20px;
	display:block;
	float:left;
	margin-top:15px;
	margin-right:5px;
}



/* ==========================================================================
  #confirm-box
   ========================================================================== */

#confirm-page .ui-btn{
	background:none;
	border:0;
	height:50px;
	line-height:50px;
	padding-top:0;
	color:#ffffff;
	font-size:25px;
}
#confirm-page  .ui-btn:hover{
	background:none;
}
#confirm-page  .ui-shadow{
	box-shadow:none
}
.confirm-box{
	width: 900px;
	height: 600px;
	display: block;
	margin: 48px auto 8px;
	background: #fff;
	border-radius: 15px;
	border: solid 2px #435a52;
}
.confirm-box .inner-container {
    background: none repeat scroll 0 0 #F2F2F2;
    border: 2px solid #8E8E8E;
    border-radius: 15px;
    height: 460px;
    width: 860px;
	padding-left: 33px;
    overflow: hidden;
}
.confirm-title-20{
	padding-top:20px
}
.confirm-box .row dl dt span{
	color:#004f29;
	font-size:17px;
}
.confirm-txt-01{
	font-size:35px;
	color:#004f29;
}
.confirm-txt-02{
	color:#d70d0d;
}
.confirm-txt-03{
	color:#004f29;
}
.confirm-txt-04{
	margin-top:0 !important;
}
.confirm-txt-05 {
    font-size: 28px;
    color: #004f29;
}
.border-01{
	border-bottom:1px solid;
	padding-bottom:5px
}
.border-02{
	border-bottom:1px dotted;
}
.confirm-txt-04 dl{
	font-size:28px;
	color:#004f29;
	width:735px;
}
.confirm-txt-04 dt{
	font-size:28px;
	color:#004f29;
	width:735px;
}
.line-height-01{
	margin-top:0;
}
.line-height-01 dt{
	line-height:30px;
}
.confirm-br{
	background:#FFFFFF;
}
.confirm-p{
	margin-bottom:4px !important;
}



/* ==========================================================================
  #data01-box
   ========================================================================== */

#data01-page .ui-btn{
	background:none;
	border:0;
	height:50px;
	line-height:50px;
	padding-top:0;
	color:#ffffff;
	font-size:25px;
}
#data01-page  .ui-btn:hover{
	background:none;
}
#data01-page  .ui-shadow{
	box-shadow:none
} 
.data01-box{
	width: 900px;
	height: 600px;
	display: block;
	margin: 48px auto 15px;
	background: #fff;
	border-radius: 15px;
	border: solid 2px #435a52;
}
.data01-box .inner-container {
    background: none repeat scroll 0 0 #F2F2F2;
    border: 2px solid #8E8E8E;
    border-radius: 15px;
    height: 460px;
    width: 860px;
	padding-left: 20px;
	padding-top: 18px;
	padding-right:17px;
}
.data01-box .row dl dt span{
	color:#004f29;
	font-size:17px;
}
.background-01{
	background:#d9e1de;
	border-bottom: 1px solid;
    border-top: 1px solid;
    font-size: 15px;
    min-height: 58px;
    padding: 10px 12px;
	line-height:1.5;
}
.background-02{
    font-size: 15px;
    min-height: 58px;
    padding: 10px 12px;
	line-height:1.5;
}
.background-03{
    font-size: 15px;
    height: 35px;
    padding: 0 12px;
}
.data01-txdt01{
	display:table-cell;
	vertical-align: middle;
	float:none;
    font-size:13px
}
.close-02{
    bottom: -4px;
    position: absolute;
    right: 20px;
    z-index: 1;
}
.content-popup-01{
    height: 350px;
    margin: auto;
    width: 540px;
	background: none repeat scroll 0 0 #FFFFFF;
    border: 2px solid #435A52;
    border-radius: 15px;
    display: block;
	padding-top:12px;
	padding-left:20px ;
	margin-top: -70px !important;
}
.required{
	height:100px !important;
	width:690px !important;
	color:#cccccc !important;
	font-size:17px !important;
}
.content-popup-01 .inner-container{
    background: none repeat scroll 0 0 #F2F2F2;
    border: 2px solid #8E8E8E;
    border-radius: 15px;
    height: 220px;
    width: 500px;
	margin:auto;
 	display: table-cell;
  	text-align: center;
  	vertical-align: middle;
	font-size:27px;
	color:#004f29;
}
.br-popup{
	background:url(../img/img-popup-20.png) no-repeat left bottom ;
	margin:auto;
	width:976px;
	height:607px;
	padding-top:64px;
	position:relative;
}
.br-popup-01{
	background: url(../img/img-popup-06.jpg) no-repeat;
	width:868px;
	height:497px;
	margin-right:64px;
	
}
.br-popup-02 {
    background: url(../img/img-popup-07.jpg) no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 497px;
    margin-right: 64px;
    width: 868px;
}
.br-popup-04 {
    background: url(../img/img-popup-08.jpg) no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 497px;
    margin-right: 64px;
    width: 868px;
}
.br-popup-05 {
    background: url(../img/img-popup-09.jpg) no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 497px;
    margin-right: 64px;
    width: 868px;
}
.close{
	position:absolute;
	right:0;
	top:0;
}
.br-popup th{
	background:none;
	height:60px;
    font-size:32px ;
    line-height: 60px;
}
.txt-popup{
    display: table-cell;
    font-size: 22px;
    padding: 25px;
    color: #333333;
    vertical-align: top;
}
.txt-popup-20{
     padding-top: 60px;
 }
.txt-popup-right-none{
	padding-right: 5px;
}
.br-popup-03 .inner-container{
    background: none repeat scroll 0 0 #F2F2F2;
    border: 2px solid #8E8E8E;
    border-radius: 15px;
    height: 250px;
    width: 520px;
	margin:auto;
 	display: table-cell;
  	text-align: center;
  	vertical-align: middle;
	font-size:27px;
	color:#004f29;
}
.br-popup-03{
    height: 350px;
    margin: auto;
    width: 560px;
	background: none repeat scroll 0 0 #FFFFFF;
    border: 2px solid #435A52;
    border-radius: 15px;
    display: block;
	padding:20px 20px 0;
}
.box {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid;
    height: 490px;
}
.box-01 {
    border: 0 none !important;
    height: 420px !important;
    padding-left: 50px;
    padding-top: 20px;
}
.qs_checked {
    color:red;
}
.btn-data01 {
    margin-right: -10px;
    text-align: right;
}
.play-none{
	display: none;
}



/* ==========================================================================
  #list-box
   ========================================================================== */
#list-page .ui-btn{
	background:none;
}
#list-page p{
	margin-bottom:0;
	color:#004f29;
}
.list-box {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 2px solid #435A52;
    border-radius: 15px;
    display: block;
    height: 600px;
    margin: 48px auto 8px;
    width: 900px;
}
.list-box .inner-container {
    background: none repeat scroll 0 0 #F2F2F2;
    border: 2px solid #8E8E8E;
    border-radius: 15px;
    height: 520px;
    padding-left: 19px;
	padding-right: 19px;
    width: 860px;
	margin-left:18px;
    overflow: hidden;
}
.background-02 p,
.background-01 p{
	padding-top:7px;
}
.txt-color{
    color:red !important;
}
.txt-color-synced {
    color: #004f29 !important;
}
/* ==========================================================================
  #changepass-box
   ========================================================================== */
.changepass-box {
	background: none repeat scroll 0 0 #FFFFFF;
	border: 2px solid #435A52;
	border-radius: 15px;
	display: block;
	height: 560px;
	margin: 70px auto 0;
	width: 620px;
}
.changepass-box .inner-container {
	background: none repeat scroll 0 0 #F2F2F2;
	border: 2px solid #8E8E8E;
	border-radius: 15px;
	height: 460px;
	width: 580px;
}
.changepass-box label {
	float: left;
	height: 30px;
	line-height: 30px;
	margin: 0;
	padding-right: 15px;
	text-align: right;
	width: 260px;
}
.changepass-box .row .btn {
	display: inline-block !important;
	width: 150px;
}

/* ==========================================================================
  #summary-box
   ========================================================================== */
.summary-box {
	width: 900px;
	height: 600px;
	display: block;
	margin: 48px auto 15px;
	background: #fff;
	border-radius: 15px;
	border: solid 2px #435a52;
    overflow: hidden !important;
}
.summary-box .inner-container {
	background: none repeat scroll 0 0 #F2F2F2;
	border: 2px solid #8E8E8E;
	border-radius: 10px;
	height: 520px;
	width: 860px;
	padding-top: 20px;
    overflow: hidden;
}
.summary-box .inner-container ul li {
	float: left;
	height: 30px;
	width: 129px;
}
.summary-box .inner-container ul.ul-summary {
	list-style-type: none;
    margin: 0;
}
.sumary01{
    margin-left: 30px;
    margin-top: 20px;
    padding-right: 30px;
    max-height: 423px;
    overflow: hidden;
}
.karencontent{
    height: 465px;
    overflow: hidden;
	margin-top: 10px;
}
.summary-box .ui-collapsible-heading-collapsed {
    background:none;
    height:auto;
    width: 390px;

}
.summary-box .ui-btn{
    background: none;
    border: 0 solid #66957e;
    border-radius:0;
    color: #004f29;
    font-weight: normal;
}
.summary-box .ui-btn:hover{
     background: none;
 }
.summary-box .ui-collapsible-set{
    margin-left: 0;
    width: 390px;
}
.sumary01-left{
    background: #ccdcd4;
    border: 1px solid #94b1a3;
    border-radius: 10px;
	margin-bottom: 100px;
}
.summary-box .ui-collapsible-inset .ui-collapsible-heading .ui-btn{
    border-radius: 0;
    border: 0;
}
.sumary01-left .row{
    border-bottom: 1px solid #66957e;
    border-right:1px solid;

}
.sumary01-left .row:first-child {
    background: #ccdcd4;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.sumary01-left .row:last-child{
    background: #ccdcd4;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom: 1px solid ;
}
.sumary01-left .ui-collapsible-themed-content:not(.ui-collapsible-collapsed) .ui-collapsible-heading{

    background: none;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.sumary01-left .ui-collapsible-content{
    background: #ffffff;
    border: 0 !important;
    border-radius: 0;
    padding: 0;
}
.sumary01-left .row:last-child .ui-collapsible-content{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.sumary01-left .ui-collapsible-content div{
    line-height:1.5;
    border-top: 1px dotted;
    padding: 15px 50px 15px 15px;
    color: #004f29;
    position: relative;
    width: 389px;
}
.sumary01-left .ui-icon-plus:after{
    background: #ccdcd4 url(../img/icon_summary_02.jpg) 5px center no-repeat !important;
}
.sumary01-left .ui-icon-minus:after{
    background: #ccdcd4 url(../img/icon_summary_01.jpg) 5px center no-repeat !important;
}
.sumary01-box{
    border-bottom: 1px dotted;
    padding-bottom: 20px;
}




/*.pieLabel{*/
    /*margin-left: -97px !important;*/
/*}*/
#placeholder-c1-01,
#placeholder-c2-01,
#placeholder-c3-01{
    width: 350px;
    height: 200px;
}
#placeholder-c1-01 .x1Axis div,
#placeholder-c2-01 .x1Axis div,
#placeholder-c3-01 .x1Axis div{
    width: 50px;
    font-size: 12px;
}
#placeholder-c1-01 .x1Axis div:last-child,
#placeholder-c2-01 .x1Axis div:last-child,
#placeholder-c3-01 .x1Axis div:last-child{
    width: 60px;
    font-size: 12px;
}
#placeholder-c1-01 .flot-base,
#placeholder-c1-01 .flot-text,
#placeholder-c2-01 .flot-base,
#placeholder-c2-01 .flot-text,
#placeholder-c3-01 .flot-base,
#placeholder-c3-01 .flot-text{
    left:20px !important
}
#placeholder-c1-01 .tickLabel,
#placeholder-c2-01 .tickLabel,
#placeholder-c3-01 .tickLabel{
    width: 27px;
}
#placeholder-c1-01 .flot-y-axis,
#placeholder-c2-01 .flot-y-axis,
#placeholder-c3-01 .flot-y-axis{
    left: -10px !important;
    width: 300px !important;
}
#placeholder-c1-01 .flot-x-axis,
#placeholder-c2-01 .flot-x-axis,
#placeholder-c3-01 .flot-x-axis{
    left: 50px !important;
    width: 300px !important;
    top: 5px !important;
}
#placeholder-c1-01 .flot-text,
#placeholder-c2-01 .flot-text,
#placeholder-c3-01 .flot-text{
    left:20px
}
.demo-placeholder {
    height: 240px;
    font-size: 14px;
    line-height: 1.2em;
}
.sumary01-right{
    min-height: 310px;
    position: relative;
    width: 400px;
}
#placeholder-c1-02,
#placeholder-c2-02,
#placeholder-c3-02{
    width: 250px;
}
/*.flot-base{*/
    /*left:-80px !important*/
/*}*/
.list-color{
    list-style: none;
    position: absolute;
    right: -30px;
    bottom: -10px;
    width: 195px;
}
.sumary01-right ul.list-color li{
    display: inline;
    width: 100% !important;
    font-size: 10px;
    height: 20px;
}
.sumary01-right ul.list-color li:last-child {
    padding-right: 40px !important;
    text-align: right !important;
}
ul.list-color li span{
    padding-right: 7px;
}
.question_number{
    margin-top: -9px;
    position: absolute;
    right: 15px;
    top: 50%;
}
.percen{
    margin-top: -5px;
}




.pdf-popup{
    width: 1024px;
    height: 768px;
    display: none;
}
.pdf-popup iframe{
    width: 100%;
    height: 100%;
    overflow : hidden;
}
.pdf-popup iframe body{
    -webkit-transform : translate3d(0, 0, 0);
}
.alert-box{
    display: none;
}
.alert-box .b-close{
    display: block;
    text-align: center;
    margin: 15px 0 0 0;
}
.popup-kanren-pdf-list{
    width: 960px;
    height: 590px;
    display: none;
    background: rgba(255,255,255, .85);
}
.popup-kanren-pdf-list .close{
    position: absolute;
    display: block;
    width: 40px;
    height: 40px;
    right: -20px;
    top: -20px;
}

.popup-kanren-pdf-list .inner-container{
    background: none repeat scroll 0 0 #fff;
    border: 5px double #004f29;
    height: 500px;
    left: 50%;
    margin: -250px 0 0 -425px;
    position: absolute;
    top: 50%;
    width: 850px;
    overflow: hidden;
}
.popup-kanren-pdf-list .inner-container .title{
    background: #004f29;
    height: 55px;
}
.popup-kanren-pdf-list .inner-container .content{
    height: 435px;
    padding: 25px;
    overflow: hidden;
}
