/* ==========================================================================
   Common styles
   ========================================================================== */
	
	body{
		font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro",Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
		font-size: 14px;
		color: #181818;
	}
	p{
		font-size: 14px;
		line-height: 24px;
		color: #181818;
		margin-bottom: 24px;
	}
	a{
		cursor:pointer;
	}
	img{
		vertical-align: middle;
		-webkit-transform: translateZ(0);
		-moz-transform: translateZ(0);
		/*max-width: 100%;
		height: auto;*/
	}
	strong{
		font-weight: bold;
	}
	textarea{
		white-space: pre;
	}
	h1{
		margin: 0;
	}
	
	.container{
		position: relative;
		margin: 0 auto;
		width: 1024px;
		height: 768px;
		overflow: hidden;
		background: url('../img/bg.jpg') no-repeat scroll 0px 0px transparent;
	}
	
	/* Self floating clearing for rows */
	.row:before,
	.row:after {
	    content: " "; 
	    display: table;
	}
	.row:after { clear: both; }
	.row { *zoom: 1; }
	
	/* Customize jQuery Mobile CSS */
	.ui-content,
	.ui-header, 
	.ui-footer,
	.ui-page,
	.ui-mobile-viewport{
		padding: 0;
		border: none;
		background-color: transparent !important;
	}
	.ui-page{
		min-height: 100px !important;
	}
	.ui-loader{
		display: none;
	}
	.ui-input-text, 
	.ui-input-search{
		border: none;
		margin: 0;
	}
	.ui-select .ui-btn,
	.ui-focus{
		border-radius: 0px !important;
		border:none !important;
		height: auto;
		padding: 0;
	}
	.ui-icon-plus:after{
		background: url(../img/img-icon-plus.jpg) 5px center no-repeat rgb(255, 255, 255)!important;
	}
	.ui-icon-minus:after{
		background: url(../img/img-icon-minus.jpg) 5px center no-repeat rgb(255, 255, 255)!important;
	}

/* ==========================================================================
   Header
   ========================================================================== */
	
	

/* ==========================================================================
   Sidebar menu
   ========================================================================== */
	


/* ==========================================================================
   Content
   ========================================================================== */
	
	#footer{
		overflow: hidden;
	    border: 0;
	    bottom: 0;
	    height: 40px;
	    line-height: 1;
	    position: absolute;
	    width: 100%;
	}

    .footer-left{
        text-align: left;
        float: left;
        margin: 0;
        padding: 3px 0 0 10px;
    }
    .footer-right{
        text-align: right;
        float: right;
    }
.footer-right>a{
    width: 28px;
    height: 30px;
    overflow: hidden;
    display: inline-block;
    margin: 6px 30px 0 0;
}
	

/* ==========================================================================
   Content
   ========================================================================== */
	
	.content-container{
		height: 728px;
	}