.case-box-outer {
    background: none repeat scroll 0 0 #fff;
    border: 2px solid #435a52;
    border-radius: 15px;
    display: block;
    min-height: 320px;
    margin: 132px auto 45px;
    width: 860px;
    padding: 20px;
}
.case-box-outer .case-box-inner {
    background: none repeat scroll 0 0 #f2f2f2;
    border: 2px solid #8e8e8e;
    border-radius: 15px;
    min-height: 240px;
    width: 100%;
    padding: 50px 20px 10px;
}
.case-box-inner .btn-box{
    width: 230px;
    height: 153px;
    display: block;
    float: left;
    margin:0 13px 14px;
    text-align: center;
}
.case-box-inner .btn-box.last{
    margin-right:0;
}
.case-box-inner .btn-box>img{
    margin-bottom: 10px;
}
.case-study-number{
    background-color: #ffffff;
    border: 1px solid #004f29;
    border-radius: 50%;
    color: #004f29;
    display: block;
    float: left;
    font-size: 15px;
    height: 22px;
    line-height: 19px;
    margin: 1px 2px;
    padding: 1px 0 0;
    text-align: center;
    width: 22px;
    font-style: normal;
}
.case-study-number.on{
    background-color:#004f29 ;
    color: #ffffff;
}
.list-history-align{
    display: table;
}
.history{
    color: #004f29 ;
    padding: 0 10px 0 0;
    text-align: left;
    vertical-align: middle;
    display: table-cell;
}
.history-hospital{
    width: 200px;
}
.history-doctor{
    width: 205px;
}
.history-case{
    width: 80px;
    padding: 0;
}
.history-sync{
    width: 119px;
    padding: 0;
    text-align: center;
}
.history-sync.not-yet{
    color: red;
}
.history-btn-edit{
    padding: 0;
    text-align: center;
    width: 110px;
}
.history-btn-delete{
    width: 90px;
    padding: 0;
    text-align: center;
}


.btn-select-group{
    height: 65px;
    width: 817px;
    display: block;
    margin: 0 auto;
    list-style: none;
    padding: 0;
    border: none;
}
.btn-select-group li{
    float: left!important;
    border-left: 1px solid #488065;
    width: 136px !important;
    padding:0;
    margin: 0;
    height: 65px!important;
    display: block;

}
.btn-select-group li:last-child{
    border-right: 1px solid #488065;
}
.btn-select-group li.active .title-group{
    opacity: 1;
}
.title-group{
    width: 100%;
    display: block;
    height: 20px;
    line-height: 20px;
    font-size: 20px;
    color: #004f29 ;
    text-align: center;
    margin: 1px auto 9px;
    opacity: 0.4;

}
.btn-group{
    float: left;
    width: 56px;
    height: 34px;
    display: block;
    margin: 0 7px 0;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    line-height: 34px;
    background-color: #e5e3e3;
    border-radius: 5px;
    box-shadow: 0 1px 1px #8d8d8d;
    color: #ffffff !important;
    font-weight: normal !important;
}
.btn-group.active{
    background-color: #307051;
}
.btn-group:last-child{
    margin: 0;
}

.legend-custom span{
    float: left;
}
.color-legend{
    width: 10px;
    height: 10px;
    margin: 0 5px 0 0;
}
.color1{
    background-color:#a0d468 ;
}
.color2{
    background-color:#51aafc ;
}
.color3{
    background-color:#fc6e51 ;
}
.color4{
    background-color:#7181f6 ;
}
.color5{
    background-color:#db71f6 ;
}
.color6{
    background-color:#ffce54 ;
}
.color7{
    background-color:#c8c8cb ;
}
.title-legend{
    font-size:10px ;
    line-height: 10px;
    color: #828282;
}