/** 
* This file contains OOCSS styles use for the project 
*/

/* ==========================================================================
	Table Content
   ==========================================================================

	#1. Box model
		1.1 - Element position
		1.2 - Width
		1.3 - Height
		1.4 - Push (+Margin)
		1.5 - Pull (-Margin)
		1.6 - Padding
	#2. Typography
		2.1 - Text color
		2.2 - Text size
		2.3 - Text styles
		2.4 - Text line height
	#3. Links
	#4. Buttons
	#5. Borders
		5.1 - Border styles
		5.2 - Border radius
		5.3 - Border images
	#6. Icons
	#7. Shadows
	#8. Backgrounds
		8.1 - Background colors
		8.2 - Background images
*/



/* ==========================================================================
   #1. Box model
   ========================================================================== */

	/**
	 * 1.1 - Element position
	 */
	
	.relative		{ position: relative; }
	.absolute 		{ position: absolute; }
	.left			{ float: left; }
	.right			{ float: right; }
	.invisible		{ visibility: hidden; }
	.block			{ display: block; }
	.inline-block	{ display: inline-block; }
	.overflow-hidden{ overflow: hidden; }
	.self-center	{ margin: 0 auto; }
	
	
	
	/**
	 * 1.2 - Width
	 */
	
	.full-width		{ width: 100%; }
	.w-5			{ width: 5px; }
	.w-10			{ width: 10px; }
	.w-30			{ width: 30px; }
	.w-40			{ width: 40px; }
	.w-45			{ width: 45px; }
	.w-50			{ width: 50px; }
	.w-55			{ width: 55px; }
	.w-60			{ width: 60px; }
	.w-65			{ width: 65px; }
	.w-70			{ width: 70px; }
	.w-75			{ width: 75px; }
	.w-80			{ width: 80px; }
	.w-85			{ width: 85px; }
	.w-90			{ width: 90px; }
	.w-100			{ width: 100px; }
	.w-110			{ width: 110px; }
	.w-115			{ width: 115px; }
	.w-120 			{ width: 120px; }
	.w-125			{ width: 125px; }
	.w-130 			{ width: 130px; }
	.w-135 			{ width: 135px; }
	.w-140 			{ width: 140px; }
	.w-145  		{ width: 145px; }
	.w-148 			{ width: 148px; }
	.w-150 			{ width: 150px; }
	.w-155 			{ width: 155px; }
	.w-160 			{ width: 160px; }
	.w-170 			{ width: 170px; }
	.w-190 			{ width: 190px; }
	.w-200 			{ width: 200px; }
	.w-210 			{ width: 210px; }
	.w-215 			{ width: 215px; }
	.w-220 			{ width: 220px; }
	.w-225 			{ width: 225px; }
	.w-230 			{ width: 230px; }
	.w-235 			{ width: 235px; }
	.w-240 			{ width: 240px; }
	.w-250 			{ width: 250px; }
	.w-265 			{ width: 265px; }
	.w-270 			{ width: 270px; }
	.w-275 			{ width: 275px; }
	.w-280 			{ width: 280px; }
	.w-285 			{ width: 285px; }
	.w-300 			{ width: 300px; }
	.w-310 			{ width: 310px; }
	.w-315 			{ width: 315px; }
	.w-320 			{ width: 320px; }
	.w-340 			{ width: 340px; }
	.w-350 			{ width: 350px; }
	.w-380 			{ width: 380px; }
	.w-386 			{ width: 386px; }
	.w-396 			{ width: 396px; }
	.w-400 			{ width: 400px; }
	.w-405 			{ width: 405px; }
	.w-410 			{ width: 410px; }
	.w-415 			{ width: 415px; }
	.w-420 			{ width: 420px; }
	.w-422 			{ width: 422px; }
	.w-430 			{ width: 430px; }
	.w-440 			{ width: 440px; }
	.w-445 			{ width: 445px; }
	.w-480 			{ width: 480px; }
	.w-490 			{ width: 490px; }
	.w-495 			{ width: 495px; }
	.w-500 			{ width: 500px; }
	.w-510 			{ width: 510px; }
	.w-530 			{ width: 530px; }
	.w-550 			{ width: 550px; }
	.w-570 			{ width: 570px; }
	.w-590 			{ width: 590px; }
	.w-605 			{ width: 605px; }
	.w-620 			{ width: 620px; }
	.w-670 			{ width: 670px; }
	.w-675 			{ width: 675px; }
	.w-715			{ width: 715px; }
	.w-720			{ width: 720px; }
	.w-755			{ width: 755px; }
	.w-780			{ width: 780px; }
	.w-800 			{ width: 800px; }
	.w-815 			{ width: 815px; }
	.w-820 			{ width: 820px; }
	.w-830 			{ width: 830px; }
	.w-950 			{ width: 950px; }


	/**
	 * 1.3 - Height
	 */
	
	.h-3			{ height: 3px; }
	.h-4			{ height: 4px; }
	.h-5			{ height: 5px; }
	.h-24			{ height: 24px; }
	.h-30			{ height: 30px; }
	.h-35			{ height: 35px; }
	.h-40			{ height: 40px; }
	.h-45			{ height: 45px; }
	.h-50			{ height: 50px; }
	.h-55			{ height: 55px; }
	.h-60			{ height: 60px; }
	.h-100			{ height: 100px; }
	.h-115			{ height: 115px; }
	.h-120			{ height: 120px; }
	.h-130			{ height: 130px; }
	.h-185			{ height: 185px; }
	.h-190			{ height: 190px; }
	.h-215			{ height: 215px !important; }
	.h-250			{ height: 249px; }
	.h-273			{ height: 273px; }
	.h-315			{ height: 315px; }
    .h-350			{ height: 350px; }

	/**
	 * 1.4 - Push ( +Margin )
	 */
	
	.push-top-2     { margin-top: 2px; }
	.push-top-3     { margin-top: 3px; }
	.push-top-5		{ margin-top: 5px; }
	.push-top-10	{ margin-top: 10px; }
	.push-top-12	{ margin-top: 12px; }
	.push-top-15	{ margin-top: 15px; }
	.push-top-20	{ margin-top: 20px; }
	.push-top-24	{ margin-top: 24px; }
	.push-top-25	{ margin-top: 25px; }
	.push-top-26	{ margin-top: 26px; }
	.push-top-30	{ margin-top: 30px; }
	.push-top-31	{ margin-top: 31px; }
	.push-top-32	{ margin-top: 32px; }
	.push-top-35	{ margin-top: 35px; }
	.push-top-40	{ margin-top: 40px; }
	.push-top-50	{ margin-top: 50px; }
	.push-top-60	{ margin-top: 60px; }
	.push-top-70	{ margin-top: 70px; }
	.push-top-80    { margin-top: 80px; }
	
	.push-right-0	{ margin-right: 0px !important; }
	.push-right-5	{ margin-right: 5px; }
	.push-right-7	{ margin-right: 7px; }
	.push-right-10	{ margin-right: 10px; }
	.push-right-13	{ margin-right: 13px; }
	.push-right-15	{ margin-right: 15px; }
	.push-right-18  { margin-right: 18px; }
	.push-right-20	{ margin-right: 20px; }
	.push-right-37	{ margin-right: 37px; }
	.push-right-40	{ margin-right: 40px; }
	.push-right-42	{ margin-right: 42px; }
	.push-right-50	{ margin-right: 50px; }
	.push-right-65	{ margin-right: 65px; }
	.push-right-165	{ margin-right: 165px; }
	.push-right-160	{ margin-right: 160px; }
	
	.push-bot-0		{ margin-bottom: 0px; }
	.push-bot-5		{ margin-bottom: 5px; }
	.push-bot-7		{ margin-bottom: 7px; }
	.push-bot-10	{ margin-bottom: 10px; }
	.push-bot-15	{ margin-bottom: 15px; }
	.push-bot-17	{ margin-bottom: 17px; }
	.push-bot-20	{ margin-bottom: 20px; }
	.push-bot-25	{ margin-bottom: 25px; }
	.push-bot-30	{ margin-bottom: 30px; }
	.push-bot-35	{ margin-bottom: 35px; }
	.push-bot-40	{ margin-bottom: 40px; }
	.push-bot-50	{ margin-bottom: 50px; }
	.push-bot-55	{ margin-bottom: 55px; }
	.push-bot-60	{ margin-bottom: 60px; }
	.push-bot-65	{ margin-bottom: 65px; }
	.push-bot-70	{ margin-bottom: 70px; }
	.push-bot-75	{ margin-bottom: 75px; }
	.push-bot-80	{ margin-bottom: 80px; }
	.push-bot-82	{ margin-bottom: 82px; }
	.push-bot-85	{ margin-bottom: 85px; }
	.push-bot-90	{ margin-bottom: 90px; }
	.push-bot-95	{ margin-bottom: 95px; }
	.push-bot-100	{ margin-bottom: 100px; }
	.push-bot-110	{ margin-bottom: 110px; }
	.push-bot-120	{ margin-bottom: 120px; }
	.push-bot-125	{ margin-bottom: 125px; }
	.push-bot-130	{ margin-bottom: 130px; }
	.push-bot-135	{ margin-bottom: 135px; }
	.push-bot-145	{ margin-bottom: 145px; }
	.push-bot-150	{ margin-bottom: 150px; }
	.push-bot-155	{ margin-bottom: 155px; }
	.push-bot-160	{ margin-bottom: 160px; }
	.push-bot-165	{ margin-bottom: 165px; }
	.push-bot-170	{ margin-bottom: 170px; }
	.push-bot-185	{ margin-bottom: 185px; }
	.push-bot-190	{ margin-bottom: 190px; }
	.push-bot-195	{ margin-bottom: 195px; }
	.push-bot-210	{ margin-bottom: 210px; }
	.push-bot-220	{ margin-bottom: 220px; }
	.push-bot-230	{ margin-bottom: 230px; }
	.push-bot-235	{ margin-bottom: 235px; }
	.push-bot-240	{ margin-bottom: 240px; }
	.push-bot-250	{ margin-bottom: 250px; }
	.push-bot-260	{ margin-bottom: 260px; }
	.push-bot-270	{ margin-bottom: 270px; }
	.push-bot-280	{ margin-bottom: 280px; }
	.push-bot-290	{ margin-bottom: 290px; }
	.push-bot-295	{ margin-bottom: 295px; }
	.push-bot-300	{ margin-bottom: 300px; }
	.push-bot-310	{ margin-bottom: 310px; }
	.push-bot-340	{ margin-bottom: 340px; }
	.push-bot-355	{ margin-bottom: 355px; }
	.push-bot-370	{ margin-bottom: 370px; }
	.push-bot-390	{ margin-bottom: 390px; }
	.push-bot-400	{ margin-bottom: 400px; }
	.push-bot-410	{ margin-bottom: 410px; }
	.push-bot-420	{ margin-bottom: 420px; }
	.push-bot-430	{ margin-bottom: 430px; }
	.push-bot-440	{ margin-bottom: 440px; }
	.push-bot-460	{ margin-bottom: 460px; }
	.push-bot-510	{ margin-bottom: 510px; }
	.push-bot-550	{ margin-bottom: 550px; }
	.push-bot-600	{ margin-bottom: 600px; }
	.push-bot-630	{ margin-bottom: 630px; }
	
	.push-left-5	{ margin-left: 5px; }
	.push-left-10	{ margin-left: 10px; }
	.push-left-15	{ margin-left: 15px; }
	.push-left-20	{ margin-left: 20px; }
	.push-left-30	{ margin-left: 30px; }
	.push-left-35	{ margin-left: 35px; }
	.push-left-37	{ margin-left: 37px; }
	.push-left-38	{ margin-left: 38px; }
	.push-left-40	{ margin-left: 40px; }
	.push-left-45	{ margin-left: 45px; }
	.push-left-50	{ margin-left: 50px; }
	.push-left-55   { margin-left: 55px; }
	.push-left-66   { margin-left: 66px; }
	.push-left-70	{ margin-left: 70px; }
	.push-left-74	{ margin-left: 74px; }
	.push-left-75	{ margin-left: 75px; }
	.push-left-80	{ margin-left: 80px; }
	.push-left-85	{ margin-left: 85px; }
	.push-left-95	{ margin-left: 95px; }
    .push-left-150	{ margin-left: 150px; }
	.push-left-200	{ margin-left: 200px; }
	.push-left-254	{ margin-left: 254px; }
	.push-left-280	{ margin-left: 280px; }
	.push-left-500	{ margin-left: 500px; }

	/**
	 * 1.5 - Pull ( -Margin )
	 */
	
	.pull-top-10	{ margin-top: -10px; }
	.pull-top-15	{ margin-top: -15px; }
	.pull-top-20	{ margin-top: -20px; }
	.pull-top-25	{ margin-top: -25px; }
	.pull-top-30	{ margin-top: -30px; }
	.pull-top-45	{ margin-top: -45px; }
	.pull-top-50	{ margin-top: -50px; }
	.pull-top-110	{ margin-top: -110px; }
	
	.pull-right-5	{ margin-right: -5px; }
	.pull-right-6	{ margin-right: -6px; }
	.pull-right-8	{ margin-right:	-8px; }
	.pull-right-10	{ margin-right:	-10px; }
	.pull-right-15	{ margin-right:	-15px; }
	.pull-right-20	{ margin-right:	-20px; }
	.pull-right-24	{ margin-right:	-24px; }
	.pull-right-25	{ margin-right:	-25px; }
	.pull-right-30	{ margin-right:	-30px; }
	.pull-right-35	{ margin-right:	-35px; }
	
	.pull-bot-1		{ margin-bottom: -1px; }
	.pull-bot-2		{ margin-bottom: -2px; }
	.pull-bot-3		{ margin-bottom: -3px; }
	.pull-bot-4		{ margin-bottom: -4px; }
	.pull-bot-5		{ margin-bottom: -5px; }
	.pull-bot-6		{ margin-bottom: -6px; }
	.pull-bot-7		{ margin-bottom: -7px; }
	.pull-bot-8		{ margin-bottom: -8px; }
	
	.pull-left-5	{ margin-left: -5px; }
	.pull-left-7	{ margin-left: -7px; }
	.pull-left-8	{ margin-left: -8px; }
	.pull-left-9	{ margin-left: -9px; }
	.pull-left-15	{ margin-left: -15px; }
	.pull-left-20	{ margin-left: -20px; }
	.pull-left-25	{ margin-left: -25px; }
	.pull-left-30	{ margin-left: -30px; }
	.pull-left-40	{ margin-left: -30px; }
	/**
	 * 1.6 - Padding
	 */
	
	.pall-5			{ padding: 5px; }
	.pall-9			{ padding: 9px; }
	.pall-10		{ padding: 10px; }
	.pall-15		{ padding: 15px; }
	.pall-20		{ padding: 20px; }
    .pall-h-5       { padding: 0 5px;}
	
	.ptop-4			{ padding-top: 4px; }
	.ptop-5			{ padding-top: 5px; }
	.ptop-10		{ padding-top: 10px; }
	.ptop-15		{ padding-top: 15px; }
	.ptop-18		{ padding-top: 18px; }
	.ptop-20		{ padding-top: 20px; }
	.ptop-25		{ padding-top: 25px; }
	.ptop-30		{ padding-top: 30px; }
	.ptop-33		{ padding-top: 33px; }
	.ptop-37		{ padding-top: 37px; }
	.ptop-42		{ padding-top: 42px; }
	.ptop-50		{ padding-top: 50px; }
	.ptop-60		{ padding-top: 60px; }
	.ptop-68		{ padding-top: 68px; }
	.ptop-70		{ padding-top: 70px; }
	.ptop-100		{ padding-top: 100px; }
	.ptop-190       { padding-top: 190px; }
	
	.pright-5		{ padding-right: 5px; }
	.pright-8		{ padding-right: 8px; }
	.pright-10		{ padding-right: 10px; }
	.pright-15		{ padding-right: 15px; }
	.pright-18		{ padding-right: 18px; }
	.pright-20		{ padding-right: 20px; }
	
	.pbot-6			{ padding-bottom: 6px; }
	.pbot-10		{ padding-bottom: 10px; }
	.pbot-12		{ padding-bottom: 12px; }
	.pbot-15		{ padding-bottom: 15px; }
	.pbot-20		{ padding-bottom: 20px; }
	.pbot-30		{ padding-bottom: 30px; }
	.pbot-33		{ padding-bottom: 33px; }
	.pbot-38		{ padding-bottom: 38px; }
	.pbot-40		{ padding-bottom: 40px; }
	.pbot-60		{ padding-bottom: 60px; }
	.pbot-125		{ padding-bottom: 125px; }
	
	.pleft-5		{ padding-left: 5px;}
	.pleft-8		{ padding-left: 8px;}
	.pleft-10		{ padding-left: 10px;}
	.pleft-15		{ padding-left: 15px; }
	.pleft-20		{ padding-left: 20px; }
	.pleft-25		{ padding-left: 25px; }
	.pleft-30		{ padding-left: 30px; }
	.pleft-38		{ padding-left: 38px; }
	.pleft-45		{ padding-left: 45px; }
	.pleft-62		{ padding-left: 62px; }


/* ==========================================================================
   #2. Typography
   ========================================================================== */

	/**
	 * 2.1 - Text color
	 */
	
	
	/**
	 * 2.2 - Text size
	 */
	.text-size-2	{ line-height:2  ; }
	.text-size-10	{ font-size: 10px; }
	.text-size-11	{ font-size: 11px; }
	.text-size-12	{ font-size: 12px; }
	.text-size-13   { font-size: 13px; }
	.text-size-15	{ font-size: 15px; }
	.text-size-16	{ font-size: 16px; }
	.text-size-18	{ font-size: 18px; }
	.text-size-20	{ font-size: 20px; }
	.text-size-22	{ font-size: 22px; }
	.text-size-24	{ font-size: 24px; }
	.text-size-26	{ font-size: 26px; }
	.text-size-30	{ font-size: 30px; }
	

	/**
	 * 2.3 - Text styles
	 */

	.text-left		{ text-align: left; }
	.text-right		{ text-align: right; } 
	.text-center	{ text-align: center; }
	.text-underline	{ text-decoration: underline; }
	.underline		{ text-decoration: underline; }
	.no-underline 	{ text-decoration: none; }
	.bold 			{ font-weight: bold; }
	.vertical-text 	{ word-wrap: break-word; }


	/**
	 * 2.4 - Text line height
	 */
	.line-h-oneline	{ line-height: 1; }
	.line-h-14		{ line-height: 14px; }
	.line-h-16		{ line-height: 16px; }
	.line-h-18		{ line-height: 18px; }
	.line-h-20		{ line-height: 20px; }
	.line-h-24		{ line-height: 24px; }
	.line-h-26		{ line-height: 26px; }
	.line-h-30		{ line-height: 30px; }
	.line-h-32		{ line-height: 32px; }
	.line-h-35		{ line-height: 35px; }
	.line-h-36		{ line-height: 36px; }
	.line-h-40		{ line-height: 40px; }
	.line-h-45		{ line-height: 45px; }
	.line-h-48		{ line-height: 48px; }
	.line-h-50		{ line-height: 50px; }
	.line-h-55		{ line-height: 55px; }
	.line-h-100		{ line-height: 100px; }
	
	/**
	 * 2.4 - Fonts
	 */
	.narrow-text-1o5 { letter-spacing: -1.5px; }
	

/* ==========================================================================
   #3. Links
   ========================================================================== */



/* ==========================================================================
   #4. Buttons
   ========================================================================== */
	.btn {
		-moz-user-select: none;
		-webkit-user-select: none;
		user-select: none;
	
		cursor: pointer;
		text-align: center;
		vertical-align: middle;
		white-space: nowrap;
		border: none;
		text-decoration: none;
		display: inline-block;
		background-color: transparent;
		padding: 0;
	}



/* ==========================================================================
   #5. Borders
   ========================================================================== */

	/**
	 * 5.1 - Border styles
	 */
	
	.border-all-purple { border: solid 2px #c2afd8; }
	
	/**
	 * 5.2 - Border radius
	 */


	/**
	 * 5.3 - Border images
	 */



/* ==========================================================================
   #6. Icons
   ========================================================================== */
	
	

/* ==========================================================================
   #7. Shadows
   ========================================================================== */
	
	.box-shadow-01{
		-webkit-box-shadow: 2px 2px 3px 0px rgba(50, 50, 50, 0.51);
		-moz-box-shadow:    2px 2px 3px 0px rgba(50, 50, 50, 0.51);
		box-shadow:         2px 2px 3px 0px rgba(50, 50, 50, 0.51);
	}
	
	

/* ==========================================================================
   #8. Backgrounds
   ========================================================================== */

	/**
	 * 8.1 - Background colors
	 */
	.bg-pink { background-color: #f8deeb; }
	
	/**
	 * 8.2 - Background images
	 */